[2019-02-19 17:16] KirstieJane opened #329 "Add contributors"
We have a [contributors.md](https://github.com/alan-turing-institute/AutisticaCitizenScience/blob/master/contributors.md) file that lists all our community members..... although maybe its better to merge this into one table in the README file as made by the [all-contributors bot](https://github.com/all-contributors/all-contributors-bot).

This issue will always stay open as a place for us to updat

[2019-07-03 11:04] KirstieJane opened #331 "Monitor diversity of participation in the citizen science project"

[2019-10-01 11:18] GeorgiaHCA opened #332 "Consult with Autism Researchers"
We need to consult with a wide range of autism researchers to understand how to best build the platform from their perspective.

[2019-10-04 10:22] KirstieJane opened #333 "Add Autistica's language guide to our code of conduct"
Here's the link: https://www.autistica.org.uk/about-us/media-communications-guide

[2019-11-07 14:58] GeorgiaHCA opened #334 "OS Meeting - Feedback and Ideas"

[2019-11-21 14:43] GeorgiaHCA opened #340 "OS Meeting 21/11/2019"
"As an autistic person I want autistic people to be involved throughout the project so that our voices are heard"

"As a researcher I want autistic people to be involved throughout the project so that their experience and needs are made central"

Feedback on GitHub diagram:

Diagram on position paper would make a good interactive tool on GitHub: for example, you could have speech bubbles which pop

[2020-01-13 19:59] GeorgiaHCA opened #343 "GDPR Compliance"
"As a contributor I want my data to be gathered and processed legally"
"As a researcher or contributor I want to ensure I comply with the law and at minimum meet legal ethical requirements"

[2020-02-10 14:29] KirstieJane opened #345 "Assess and report accessibility of the project for all user groups"
### As a general user

### I would like to...

know how accesible the project is

### Because...

so that I can know how to take part and if I am able to

### Acceptance criteria

- [ ] The accessibility requirements of all user groups are identified and documented
- [ ] The project's accessibility is assessed for each user group
- [ ] The assessment is clearly written and communicated on GitHub

[2020-02-17 14:56] GeorgiaHCA opened #341 "Diversity and Inclusion: creating metrics"
We need metrics to ensure that we are reaching and empowering a diverse group.

- [ ] Compile list of groups who could support diversity in project and help identify gaps
- [ ] Onboard collaborators
- [ ] Co-design metrics
- [ ] Publish metrics on GitHub repo
- [ ] Measure project in relation to metrics

(Could also potentially create a workshop with Insight group members?)

[2020-02-24 13:17] GeorgiaHCA opened #339 "User Story from OS (24-02-2020) #1"

[2020-02-24 13:20] GeorgiaHCA opened #338 "User Story from OS (24-02-2020) #2"
### As an autistic user

### I would like

the platform to last for a long time

### Because...

it can expand and grow in a positive way

### Acceptance criteria

There is a plan in place for after the official involvement and funding ends
There is a community around the platform
There is clear documentation and on boarding processes

---

## Notes

* Associated pull request:
* Current status:

-

[2020-02-24 13:23] GeorgiaHCA opened #346 "User Story from OS (24-02-2020) #3"
### As an autistic user

### I would like to...

be able to share my experiences without guilt or shame

### Because...

it's easier to be honest

### Acceptance criteria

There is a good moderation process in place.
The platform is a welcoming environment - for this we need to collect feedback on how autistic people find the experience

## Notes

* Associated pull request:
* Current status:

---

[2020-02-24 13:24] GeorgiaHCA opened #337 "have a screen or background that's simple and clear"
### As an autistic user

### I would like to...

have a screen or background that's simple and clear

### Because...

it's not too distracting

### Acceptance criteria

The interface is refined so that there are not unnecessary features
There is feedback from user testing which demonstrates that the platform is not distracting or confusing to autistic users.

## Notes

* Associated pull request:
*

[2020-02-24 13:28] GeorgiaHCA opened #336 "User Story from OS (24-02-2020) #5"
### As an autistic user

### I would like to...

Be able to enter my experience in writing

### Because...

It's easier for me to share that way and I can be more specific.

### Acceptance criteria

The platform can take input in writing from users.

---

## Notes

* Associated pull request:
* Current status:

---

## Updates

[2020-02-29 13:26] GeorgiaHCA opened #347 "Investigate other platforms recommended by collaborators"
Brain in Hand

[2020-04-08 14:17] GeorgiaHCA opened #330 "Make FG database searchable"
Make sure that the FG summaries can be easily searched and make the most of the metadata !

[2020-04-20 12:41] GeorgiaHCA opened #348 "Decide on landing page strapline"

[2020-04-20 12:41] GeorgiaHCA opened #349 "Decide on landing page strapline"
Multiple people from focus groups and user testing sessions have mentioned that they would like a strap line throughout the platform, while others think it would clutter the layout too much.

This is a question for everyone:

Would you like a strapline?
Any suggestions for straplines?

All best,

Georgia

[2020-04-20 12:41] GeorgiaHCA opened #353 "Decide on landing page strapline"
Multiple people from focus groups and user testing sessions have mentioned that they would like a strap line throughout the platform, while others think it would clutter the layout too much.

This is a question for everyone:

Would you like a strapline?
Any suggestions for straplines?

All best,

Georgia

[2020-04-28 11:29] GeorgiaHCA opened #344 "Create a community involvement strategy"
I think it would be great to write a community involvement strategy and publish it on GitHub. I think this should include information on:

- [ ] Where/on what we need input (design, user testing, documentation feedback etc.)
- [ ] Define who is already involved and how they are involved
- [ ] Who we need to ask
- [ ] How can we reach them (which channels/dissemination and comms)
- [ ] Specific ask

[2020-05-05 16:45] GeorgiaHCA opened #350 "Wireframe: non-verbal communicator for means of inputting information"

[2020-06-12 08:46] fjThomasStanley opened #342 "Glossary of Technical terms"
### As a Community Member

### I would like

A glossary of technical terms

### Because...

I get confused about the meaning of technical terms when I read them in the project documentation.

### Acceptance criteria

A markdown file to be created under the project-communications folder of the repository that contains a list of all technical terms in alphabetical order with their definition. The do

[2020-06-15 14:38] fjThomasStanley opened #351 "Fujitsu Wireframe design: Brain in hand component"
### As a Fujitsu developer

### I would like

A wireframe design and justification that showcases the Brain in hand platform component

### Because...

I would like show to the wider community a Fujitsu design concept for the platform

### Acceptance criteria

Axure updated with the final UI design for the component
A picture/screenshot image of the final UI design of the component held within Axu

[2020-06-15 14:43] fjThomasStanley opened #352 "Fujitsu Wireframe design: upload image"
### As a Fujitsu developer

### I would like

A wireframe design and justification that showcases the upload image hand platform component

### Because...

I would like show to the wider community a Fujitsu design concept for the platform

### Acceptance criteria

Axure updated with the final UI design for the component
A picture/screenshot image of the final UI design of the component held within

[2020-06-23 22:38] jiraslama opened #327 "Issue Design: Dashboard Notification (C D) Priority: Low Priority"

[2020-06-23 22:41] jiraslama opened #328 "Issue Design: Help Feature, Priority: High Priority MVP"
## Summary

This issue is about adding a "help" function to every page of the platform which will instruct and guide users.

## Who can help

#### The community:
We need everyone's help to review! Please look at @jiraslama's designs to see if you like the help feature and if it's helpful, as well as letting us know what instructions you might need. You can also help by letting us know if you think

[2020-06-25 09:13] jiraslama opened #326 "Issue Design: Help Feature, Priority: High Priority MVP"
As a: Designer, I would like to create for the community a wireframe design with a help feature as a general component on every page. To be found in the sub header, and on certain components as required. The help feature will automatically activate instructional overlays for the user. These instructional overlays will be diagrammatic and provide further directed explanation and instructions to the

[2020-06-26 10:01] jiraslama opened #325 "Issue Design: Screen Reader (HP,T)"
## Summary

This issue is to make sure that the platform can be used with a screen reader. This is to make it more accesible for a people with diverse needs, as well as to meet some of the preferences of members of the community.

## Who can help

This requires technical skills to accomplish. As an element of the design though, anyone is welcome to review.

## Community Sources

This was highlight

[2020-07-17 08:47] SaimaButt opened #323 "URL Specification"
As a general user
I want access the URL for the platform to be short and specific
So that I can easily navigate to the platform without having to remember a long address

[2020-07-27 16:32] katoss opened #321 "Issue Design: Explain principle of Open Humans in wireframe"
## Summary
The external login via open humans and the whole concept of authorisation of data usage for projects might be confusing without further explanation. The wireframe should include information and instructions regarding this process.

## Suggestions for tasks that can fix this issue

- short and easy to understand information text about the concept of open humans and why the login is perfo

[2020-07-27 16:32] katoss opened #322 "Issue Design: Explain principle of Open Humans in wireframe"
## Summary
The external login via open humans and the whole concept of authorisation of data usage for projects might be confusing without further explanation. The wireframe should include information and instructions regarding this process.

## Suggestions for tasks that can fix this issue

- short and easy to understand information text about the concept of open humans and why the login is perfo

[2020-07-27 16:32] katoss opened #324 "Issue Design: Explain principle of Open Humans in wireframe"
## Summary
The external login via open humans and the whole concept of authorisation of data usage for projects might be confusing without further explanation. The wireframe should include information and instructions regarding this process.

## Suggestions for tasks that can fix this issue

- short and easy to understand information text about the concept of open humans and why the login is perfo

[2020-07-27 16:32] katoss opened #335 "Issue Design: Explain principle of Open Humans in wireframe"
## Summary
The external login via open humans and the whole concept of authorisation of data usage for projects might be confusing without further explanation. The wireframe should include information and instructions regarding this process.

## Suggestions for tasks that can fix this issue

- short and easy to understand information text about the concept of open humans and why the login is perfo

[2020-07-27 16:32] katoss opened #354 "Issue Design: Explain principle of Open Humans in wireframe"
## Summary
The external login via open humans and the whole concept of authorisation of data usage for projects might be confusing without further explanation. The wireframe should include information and instructions regarding this process.

## Suggestions for tasks that can fix this issue

- short and easy to understand information text about the concept of open humans and why the login is perfo

[2020-08-04 09:32] GeorgiaHCA opened #320 "Make it easier for contributors to give their consent"
## Summary

We need to make it easier for people to provide their signature when giving their consent to take part in user testing. This is based on feeedback from an autistic participant who took part in user testing, and wanted to

## Date Due by

This would be a great thing to do for the first round of user testing when the normal sprint cycle resumes in September.

## Suggestions for tasks tha

[2020-08-28 10:14] ghost opened #319 "Accessibility - More Selective Screen Reader"
A wireframe design and justification that builds on the current showcase of the screen reader feature for accessibility. The screen reader will need to be more selective in its functionality.  Have a button that would allow the user to select a particular block of text clearly.

[2020-08-28 10:16] jiraslama opened #318 "Accessibility - Page Summary - Screen Reader"
**As a developer**

**I would like**
A wireframe design and justification that showcases the  summary of what a given page is about. Which can be read by a screen reader.

**Review Owner:**
Internal development team
Alan Turing

**User Feedback Labels:**
Accessibility 
Screen Reader
Page Summary

[2020-08-28 10:34] jiraslama opened #317 "Accessibility - Visual Impairment Function"
A wireframe design and justification that showcases the option to alter the contrast, to include a series of varied contrasts. For those with strong visual impairments a black background option with yellow text will be part of this.

[2020-08-28 10:36] jiraslama opened #316 "Accessibility - Contrast Function"
**As a developer**

**I would like**
A wireframe design and justification that showcases a modular prompt option to alter the contrast etc, with a accessibility panel to prompt the user that they can use a series of accessibility options including contrast, background colour changer, font size increaser.

**Review owner:**
Internal development team 
Alan Turing

**User Feedback Labels:**
Accessibi

[2020-08-28 10:39] jiraslama opened #315 "Accessibility - Font Size Increase Function"
**As a developer**

**I would like**
A wireframe design and justification that showcases a option to increase the users font size. This function will be part of a accessibility panel to be accessible on every page of the platform.

**Other relevant documents:**
Values 
Ways of working 
Data management

**Review owner:**
Internal development team 
Alan Turing

**User Feedback Labels:**
Accessibilit

[2020-08-28 11:40] jiraslama opened #314 "Experience Page Improvements - Definition of type of experiences we are trying to capture"
**I would like**
A wireframe design and justification that showcases a clearer definition of the type of experience we are trying to capture. ie just negative, current / recent experiences.
For example statement that we are trying to create a log to capture peoples current challenging (barrier) experiences.

Remove the term daily life.

[2020-08-28 12:02] jiraslama opened #313 "Experience Page Improvements - Tagging System"
A wireframe design and justification that showcases a improvement to the experience page with the further expansion the experience tagging system. Provide a more interactive drop down tagging system components that shows the types of tags the user can choice from.

Include location tags including: Transport, Hospitals, School, Transport for London, COVID etc. Combine use of titles and icons to rep

[2020-08-28 12:05] jiraslama opened #312 "Experience Page Improvements - Upload"
**I would like**
A wireframe design and justification that showcases a improvement to the experience page with the further explanation for the user about what the Upload feature is. Add a upload section - Upload Modular Panel Explaining what its function is and that the user has a number of options:

Options
1. Upload by image only
2. Upload by text
3. Upload by audio

Use another term instead of

[2020-09-02 07:52] jiraslama opened #311 "Sprint 6 User Feedback Reviewed Works"
Sprint 6 User Feedback Pages Reviewed Links With Images

1-Landing Page
https://c6q95y.axshare.com/#g=1&p=0-home-light-non-newsletter-lang-drop__1___1_&view=b
1-Landing Page Image
<img width="800" alt="1-landing-page" src="https://user-images.githubusercontent.com/41741006/91954402-a9eb3f80-ecf9-11ea-9fd7-0bc71c49e52d.png">

2-Open Humans Login
https://c6q95y.axshare.com/#g=1&p=oh-login&view=b
2-O

[2020-09-02 11:14] SaimaButt opened #310 "Document how Open Humans links into the project platform"
As a developer
I want a document to detail how the platform can work with Open Humans
So that I understand how the information is stored and retrieved.

Acceptance Criteria
Be able to login and log out
Store experience data information
Create an md file in the repository

[2020-09-09 09:51] osw opened #309 "Presentation metaphors"
# Overview
*As a project participant
I want relevant metaphors
So that I can get a better understanding of project goals and feel more involved*

## Idea
On one of the presentation slides, there was a visual metaphor for iterative development of a skateboard, bicycle and car. The idea is to have the final vehicle be a train, with multiple carriages representing the different ways that people can b

[2020-09-09 09:52] osw opened #308 "Text-to-speech"
# Overview
*As a user of the platform
I want to have the option of having the computer read text as speech
So that I can get a better understanding of what I need to do*

# Requirements
- [ ] Use a high-fidelity speech synthesiser
- [ ] Use a softer voice for the synthesiser
- [ ] Have the ability to slow down the rate of speech
- [ ] Have the ability to speed up the rate of speech

# To be confir

[2020-09-09 09:52] osw opened #307 "Cross-organisation web links"
# Overview
*As a platform user
I want to be able to easily access related resources
So that I can find out more about other conditions that may affect me*

## Idea
Multiple conditions may affect someone alongside autism (for example, dyslexia and ADHD). The idea is to have a section of the app that links to other sites that specialise in these areas, which will help people explore things that may

[2020-09-09 09:53] daniel-vnext opened #306 "Volunteer out-reach"
# Overview

*As a person affected by autism
I want to be made aware of the project
So that I can contribute and enrich the project*

## Idea

There's a question over how to encourage community participation. A couple of ideas are as follows:

* out-reach for autistic schools / learning support, to see if younger people want to participate
* out-reach for support workers

[2020-09-09 09:53] osw opened #305 "Ideas centre"
# Overview

*As a person affected by autism
I want to be made aware of relevant developments
So that I can have a better quality of life*

## Idea

Technology and general ideas about how to best live continually develop, but people aren't necessarily made aware of developments that may be relevant to them. The idea is to have an ideas centre or something similar, that can be used as a central plac

[2020-09-09 09:53] osw opened #304 "Promoting knowledge and understanding through the wider community"
# Overview

*As a person affected by autism
I want to help everyone have a better understanding of my life
So that we can interact more easily*

## Idea

This is quite a broad area, but one way that this can be approached is for people to watch the film **Temple Grandin**, which is noted as being a good film related to autism

[2020-09-09 09:54] osw opened #303 "Visual expression"
# Overview

*As a person affected by autism
I want to be able to express myself visually
So that I can better communicate my experience*

## Idea

People affected by autism sometimes find it much easier to express themselves through visual and graphical art forms. The idea is to provide a facility to do this, rather than through text or voice

This is not related to the non verbal pictorial editor

[2020-09-30 14:20] osw opened #302 "Hosting costs"
# Overview

This issue is about researching and deciding on the best, most cost-effective and sustainable hosting costs for the platform.

[2021-01-10 14:55] GeorgiaHCA opened #1 "Add contributors"
This issue chain adds contributors to the repository using allcontributors bot.

The @all-contributors bot automatically adds contributor acknowledgements according to the all-contributors specification ✨

This issue will remain opeen throughout the projecet so new contributors can always be added.

[2021-01-11 10:36] GeorgiaHCA opened #7 "Setup Django boiler plate"
## Summary

Setup boilerplate django framework [wemake](https://github.com/wemake-services/wemake-django-template/) in new repo

## Details

Necessary characteristics of boilerplate for large projects (production ready)

* Good and Readable Documentation ?
* Code structure with a deeper abstraction level
* Follows Proper Coding Standard
* Has CLI tool (for rapid prototyping and setup)
* Scalable ?

[2021-01-11 10:43] GeorgiaHCA opened #8 "Create basic webpage"
## Summary

Create basic webpage

## Details

- [x] Add a webpage that says "hello" with django framework
- [x] Run locally on computer

## Who can help

This issue is being worked on by @jhlink and @GeorgiaHCA

[2021-01-11 10:48] GeorgiaHCA opened #9 "Open Humans plugin"
## Summary

Add python-django plugin for OpenHumans

## Details

Read through OpenHumans [FileManagement demo](https://github.com/alan-turing-institute/autistica-filemanagement-demo) for plugin to install

## Who can help

This issue is being worked on by @jhlink and @GeorgiaHCA but help welcome from anyone in the Open Humans community

[2021-01-13 13:44] #7 closed, assigned to jhlink, GeorgiaHCA

[2021-01-13 14:03] GeorgiaHCA opened #10 "Apply to GSOC"
# Summary

We should apply to Google Summer of Code for a paid intern to support the project.

HackMD where I am working on the draft is here: https://hackmd.io/ORG0ESD7RtOLrynBd9TKsw

# Deadline

15th Jan (Friday)

# Details

Before submitting a full application we should contact INCF (gsoc@incf.org or malin@incf.org) early with a declaration of interest and a short summary of the intended projec

[2021-01-19 07:08] #10 closed, assigned to GeorgiaHCA

[2021-01-19 11:52] GeorgiaHCA opened #11 "Make repo accessible to open source community"
### Summary

We need to make the repository accessible to members of the open source community who may not be familiar with the project.

### Deadline

Should be ready for testing/review by Sophia on **27th Jan**

### What needs to be done?

- [x] Visible, clear issues: bring from Asana (for Milestone 2)
- [x] Code of conduct and contributor guidelines
- [x] Supporting documentation: data-flow, wi

[2021-01-19 18:26] GeorgiaHCA opened #12 "Create MVP"
### Summary

Once the basic webpage has been created, the task will be to build an MVP prototype of the platform. This is a highly paired down version of the full platform requirements.

### Deadline

20th Feb 2021

### What needs to be done?

* A series of issues needed to build the MVP are available in Asana: https://app.asana.com/0/1199166684586821/board. These will be brought in to the reposit

[2021-01-20 13:12] #8 closed, assigned to jhlink, GeorgiaHCA

[2021-01-20 14:35] GeorgiaHCA opened #15 "Create landing page"
### Summary

Create an MVP landing page for the AutSPACEs platform

A wireframe view of the simplified landing page is here:

[Simplified landing page design](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=172%3A641)

[User Flow Diagram](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/platform-designs/user-flow)

For reference, the MVP require

[2021-01-20 14:42] GeorgiaHCA opened #16 "Create Share Experience MVP flow - Screen 1"
### Summary

Create an MVP share experience flow for the AutSPACEs platform

This consists of two webpages: a page to take user input and a confirmation page once the user has submitted.

A wireframe MVP of the share experience page:

[Simplified share experience flow](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=128%3A0)

### What needs to be done?
#### Create Share Ex

[2021-01-20 14:50] GeorgiaHCA opened #17 "Create Sign-up/sign-in Flow"
### Summary

Create a flow for user to sign up to platform.

A wireframe MVP of the share experience page:

[simplified sign up flow](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=168%3A1)

### Deadline

16th Feb 2021

### What needs to be done?
- [ ] After a user successfully signs **up**, direct them to Frame 1
- [ ] Implement Frame 1
    - [ ] Add question "Are you Au

[2021-01-20 14:58] GeorgiaHCA opened #18 "Create MVP explore experiences page"
### Summary

Create an MVP view experiences page

A wireframe MVP of the share experience page:

[simplified view experiences page](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=178%3A0)

### Deadline

18th Feb 2021

### What needs to be done?

- [x] Add navigation bar
- [x] Add title: "Explore stories"
- [ ] Brief explanation of page
- [x] Search bar
- [x] Display exper

[2021-01-20 15:05] GeorgiaHCA opened #19 "Create "My stories" MVP page"
### Summary

Create an MVP version of a private page where logged-in viewers can see and edit their own data and permissions.

A wireframe MVP of the my stories page may be found [here](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=182%3A0)

MVP requirements may be found [here](https://github.com/alan-turing-institute/AutisticaCitizenScience/blob/master/platform-designs/

[2021-01-20 15:09] GeorgiaHCA opened #20 "Place-holder moderation page"
### Summary

Create a placeholder moderation page

### What needs to be done

- [ ] Make sure page is private to signed-in moderators (this links to #100, #102)
- [ ] **If an experience is submitted with share publicly permissions**, it should be automatically displayed on the moderator page (#99) (NB **all** experiences which are shared with "researcher" permissions should be automatically viewab

[2021-01-20 16:46] GeorgiaHCA opened #21 "Support loading images"
### Summary

Support loading issues

### Deadline

25th Jan

### What needs to be done?

The current html does not display images correctly - need to fix this for images.

[2021-01-20 16:50] GeorgiaHCA opened #22 "Restyle html"
### Summary

We should restyle the html so it is better structured and easier to follow

### What needs to be done

This can be done automatically by using "Prettier" on VSCode

[2021-01-20 16:55] GeorgiaHCA opened #23 "Fix broken links on homepage"
### Summary

Support hrefs so that links work

### What needs to be done?

We need places to take the user when they click on these links:

<ol>
<li><a href="/signup/signup.md">Sign up</a></li>
<li><a href="/signup/signup-confirmation.md">Login</a></li>
<li><a href="/enter-experience/enter-experience.md">Enter an experience</a></li>

### Who can fix it?

Georgia and James are on it!

[2021-01-20 17:00] GeorgiaHCA opened #24 "Copy issues from Asana"
### Summary

We need to copy all the issues from asana relating to the MVP version of the platform so they can be worked on openly in GitHub

### Deadline

21 Jan 2021

### What needs to be done?

- [x] Write up issues in GitHub
- [x] Label them appropriately
- [x] Link them to page layouts on Figma

[2021-01-21 10:30] GeorgiaHCA opened #29 "Make buttons work correctly"
### Summary

Currently the html in the PRs uses gov.uk template html. This is enabled as a prototype using gov.uk software.

### Deadline

20 Feb

### What needs to be done?

Modify the components so they do not require gov.uk prototypinig kit.

Mozilla is a great rsource for html of functoining components and details broswer compatability:

https://developer.mozilla.org/en-US/docs/Web/HTML/Elemen

[2021-01-21 15:44] GeorgiaHCA opened #32 "MVP - Basic accessibility"
### Summary

Ensure MVP meets basic accessibility requirements

### Deadline

20th Feb

### What needs to be done?

- [ ] Meets Autism accesibility guidelines
- [ ] Meets basic checklist:

https://www.gov.uk/government/publications/doing-a-basic-accessibility-check-if-you-cant-do-a-detailed-one/doing-a-basic-accessibility-check-if-you-cant-do-a-detailed-one

gov.uk has a good one

### Detail

This

[2021-01-21 16:13] GeorgiaHCA opened #33 "Add Roadmap"
### Summary

We need a clear and transparent roadmap in markdown linking to issuse, PRs, and deadlines.

### Deadline

### What needs to be done?

- [ ] Main steps to fully fledged platform worked out and outlined
- [ ] Time-tabled - feasible deadlines
- [ ] Appropriate milestones and labels created
- [ ] Markdown file with roadmap created
- [ ] Linked to milestones, issues, and project board
- [

[2021-01-22 17:05] GeorgiaHCA opened #34 "Create Navigation Bar"
# Summary

Design a navigation bar which links users across site. Must be simple and accesible.

# Deadline

16th Feb 2021

# What needs to be done?

- [x] Find a good, useable nabigation bar with open source, open licensed code to adapt for the platform (simple design, obvs accesible, top of page)
- [x] Decide what pages the navigation bar needs to link to
- [ ] Also what features should be there

[2021-01-25 14:32] #11 closed, assigned to GeorgiaHCA

[2021-01-25 22:26] GeorgiaHCA opened #40 "Include Bypass links"
**Is your feature request related to a problem? Please describe.**

This feature is related to it being often more difficult to navigate a page using a screen reader. It would make the website more accessible.

**Describe the solution you'd like**

Having a simple set of bypass links available, provides users the ability to bypass blocks of content that are repeated over multiple web pages. Useful

[2021-01-26 12:32] GeorgiaHCA opened #41 "Clear, useable repository"
### Summary

Make repository README and docs clear for new users. Should be possible to start working on the project as a beginner to the project just from the information available in the repository. Should also guide users who are unfamiliar with Django/new to GitHub.

_This issue concerns the ease of use of the **AutSPACEs repository** not the platform._

### What needs to be done?

- [ ] Clear

[2021-01-26 14:43] GeorgiaHCA opened #42 "Check you’re using proper headings"
### Summary

It’s important that any headings you’re using are styled properly. This is because some users with visual impairments use tools called ‘screen readers’ that read out page content to them

### Deadline

20/02/2021

### What needs to be done?

Screen reader users often jump through the list of headings in a document so they can skip to the content they’re looking for.

* If you’re styli

[2021-01-26 14:48] Angelsaur opened #43 "Check pages are usable when stylesheets are disabled"
### Summary
The way a page looks is controlled by something called a ‘stylesheet’. It defines things like the way a page is laid out and any font colours.

Your content should still be usable even if stylesheets are disabled, or are not loading properly. This means it’s still possible for users to complete any relevant tasks or find important information - for example, look for opening hours or co

[2021-01-26 14:51] Angelsaur opened #44 "Check that instructions are styled properly"
### Summary
You need to make sure you’re not conveying instructions in a way that relies on a user’s ability to see the page

### Deadline

20/02/2021

### What needs to be done?

You need to make sure you’re not conveying instructions in a way that relies on a user’s ability to see the page.

For example, only sighted users will understand instructions like:

‘click the round button’
‘click the b

[2021-01-26 14:56] Angelsaur opened #45 "Check that links make sense"
### Summary
Check any links on your sample content pages to check that the link text you’re using clearly explains where any links will take the user.

### Deadline
20/02/2021

### What needs to be done?

Check any links on your sample content pages to check that the link text you’re using clearly explains where any links will take the user.

This is important because screen reader users often sca

[2021-01-26 14:59] Angelsaur opened #46 "Check that pages have good titles"
### Summary
You need to check your pages are titled properly. If they’re not, users will not understand what they’re for and will struggle to find what they need using search

### Deadline

20/02/2021

### What needs to be done?

Your page title should appear in the page tab at the top of your browser. For instance, if you go to the GOV.UK homepage you’ll see the text in the tab near the top of th

[2021-01-26 15:02] Angelsaur opened #47 "Check any images have a description"
### Summary
You’ll need to check that any non-decorative images (including charts or diagrams) have an accompanying text description. That way, users can still access the relevant information even if they cannot see the image

### Deadline
20/02/2021

### What needs to be done?

Take your sample pages and check that any images either:

have appropriate alternative (or ‘alt) text that explains the

[2021-01-26 15:03] Angelsaur opened #48 "Check any video or audio content is properly described"
### Summary

You’ll need to check that any videos or audio content are clearly described so that users who cannot hear them can still access the information

### Deadline

20/02/2021

### What needs to be done?

This firstly means checking that videos have captions explaining any sound effects and dialogue. You should also check your sample videos (maybe 2 or 3) to assess the quality of those capt

[2021-01-26 15:05] Angelsaur opened #49 "Audio descriptions for video and audio content"
### Summary

When you check through the videos on your website, you might come across things that are covered in the video but not described in the audio track - something like the contents of a chart or graph, for example.

If you were only following the audio, you’d miss this information. To make sure users can access the information they need, you’d need to provide an extra audio description to

[2021-01-26 15:07] Angelsaur opened #50 "Check for images containing text"
### Summary

You’ll need to check whether any of your sample images contain text. This is because screen readers will not be able to read the text within the image. The information should be published as normal page text instead.

### Deadline

20/02/2021

### What needs to be done?

You’ll need to check whether any of your sample images contain text. This is because screen readers will not be abl

[2021-01-26 15:10] Angelsaur opened #51 "Check form fields are marked up appropriately"
### Summary

You need to make sure any form fields are marked up correctly. If they’re not marked up properly, screen readers will not be able to tell what a form field is for, or what information the user should enter into it.

### Deadline

20/02/2021

### What needs to be done?

You can check your form fields are marked up properly by going to a form and clicking on a field label (the text abov

[2021-01-26 15:11] Angelsaur opened #52 "Check it’s clear what information users need to provide"
### Summary

As you go through your sample forms, you’ll need to check you’re using field labels in a way that makes clear what information the user needs to enter.

### Deadline

20/02/2021

### What needs to be done?

As you go through your sample forms, you’ll need to check you’re using field labels in a way that makes clear what information the user needs to enter.

As a general rule, these la

[2021-01-26 15:13] Angelsaur opened #53 "Check form elements are consistent across your website"
### Summary

When you’re checking through your forms, you’ll need to check that form labels are used consistently. These are the labels that describe the information a user needs to enter into a particular field.

### Deadline

20/02/2021

### What needs to be done?

Check your sample to see how you’re labelling the navigational elements. For instance, are you using ‘Submit’ on one form and then u

[2021-01-26 15:14] Angelsaur opened #54 "Check users get a warning before they’re timed out"
### Summary

Some websites time users out after a period of inactivity. This usually results in form data being lost, or the user being automatically logged out of an account.

You need to make sure to warn users if you’re going to time them out after a period of inactivity. You’ll also need to give them the chance to interact with the page to prevent the time out from happening.

### Deadline

20

[2021-01-26 15:16] Angelsaur opened #55 "Check that any error messages are helpful"
### Summary

When a user provides incorrect information in a form, you need to let them know they’ve made a mistake and help them correct that mistake.

### Deadline

20/02/2021

### What needs to be done?

You can check how well your website is doing this by going to your sample forms and entering some intentionally incorrect or invalid information.

For example, you could enter a future date int

[2021-01-26 15:19] Angelsaur opened #56 "Check users can review their answers before submitting a form"
### Summary

Users need to be able to check their answers before submitting certain types of form, to confirm they’ve entered the correct information. This only applies to forms where there would be serious consequences to them making a mistake - for example, financial transactions or something that enters them into a legal contract.

### Deadline

20/02/2021

### What needs to be done?

You can t

[2021-01-26 15:22] Angelsaur opened #57 "Check that form elements behave as expected"
### Summary

When you were working your way through some of your sample forms, you should have noticed whether interacting with any of the elements caused anything unexpected to happen
This includes things like a dropdown menu or radio button (an element that lets you select just one of a few options) causing a new page to open when you click on it.

### Deadline

20/02/2021

### What needs to be

[2021-01-26 15:30] Angelsaur opened #58 "Check the PDFs and other documents"
### Summary

You’ll need to check your sample of PDFs and other documents (for example, Word documents, spreadsheets and presentations). Your sample should include:

documents that are essential to users accessing one of your services, no matter when they were published

non-essential documents (such as leaflets) that were published on or after 23 September 2018

### Deadline

20/02/2021

### What

[2021-01-26 15:34] Angelsaur opened #59 "Tests using a mobile or tablet device"
### Summary

You’ll need to start by doing some checks using a mobile or tablet device to check that your website is usable on these types of device.

### Deadline

20/02/2021

### What needs to be done?

 - Check the page orientation

You’ll need to take a few of your sample pages and check they respond properly when you try to change the page orientation.

You can do this by loading up a page on

[2021-01-26 15:38] Angelsaur opened #60 "Navigating just using a keyboard"
### Summary

Some of your users need to navigate without a mouse, just using a keyboard. You’ll need to do some checks to see how easy it is for them to do that.

The main keys you’ll be using to navigate are the space bar, ‘Tab’, ‘Enter’ and ‘Esc’ keys. ‘Tab’ is the key that lets you jump between page elements, while ‘Enter’ and ‘Esc’ let you interact with and dismiss those page elements. The spa

[2021-01-26 15:41] Angelsaur opened #61 "Checking content is usable when zoomed in or magnified"
### Summary

Some users with visual impairments use screen magnification tools that zoom into the page content, or increase the size of the text. You’ll need to check your content is usable for people using these tools.

### Deadline

20/02/2021

### What needs to be done?

 - **Checking content is usable when you enlarge the text**
Take a couple of the forms and content pages from your sample and

[2021-01-26 15:43] Angelsaur opened #62 "Colour contrast"
### Summary

Some users with visual impairments will not be able to interact with your website if the colour contrast is set incorrectly.
So check the colour contrast on your sample pages, including any PDFs or other document types

### Deadline

20/02/2021

### What needs to be done?

**Check for text contrast**
You’ll need to check that the contrast ratio between text and the background colour o

[2021-01-26 15:46] Angelsaur opened #63 "Pop-ups and interactive or flashing content"
### Summary

Pop-ups or flashing images can be very distracting. Users need to be able to disable or dismiss these elements easily.

### Deadline

20/02/2021

### What needs to be done?

**Check that users can disable animated or moving content**
Things like scrolling carousels or blinking images can be very distracting for people with cognitive disabilities.

If your website contains these sorts

[2021-01-26 15:48] Angelsaur opened #64 "Check whether there’s an alternative for people who cannot see maps"
### Summary

Some websites contain interactive maps.

It’s very hard to make a map itself accessible to people who have visual impairments using some sorts of assistive technology. At the least, you should provide an alternative for users who cannot use the map.

### Deadline

20/02/2021

### What needs to be done?

It’s very hard to make a map itself accessible to people who have visual impairmen

[2021-01-26 15:50] Angelsaur opened #65 "Search and other forms of navigation"
### Summary

You’ll need to do some checks to see how accessible your website’s navigation is. Navigation includes things like search, site maps and navigation categories

### Deadline

20/02/2021

### What needs to be done?

**Check your navigation behaves consistently**
Things like search bars and breadcrumb trails (the list of links that appear at the top of the page to show where in your websi

[2021-01-26 15:56] Angelsaur opened #66 "HTML checks - Checking tables and bullet lists are styled properly"
### Summary

Check that any tables and bullet lists have been styled properly. If they are not styled properly, screen reader software will not recognise what they are and will not convey the information in a way that makes sense to users.

### Deadline

20/02/2021

### What needs to be done?

**View HTML page**
The way you view your page’s HTML depends on which browser you’re using. If you’re usi

[2021-01-26 15:59] Angelsaur opened #67 "HTML checks - check the language the content is written in"
### Summary

A screen reader needs to know what language a page is written in so it uses the correct speech libraries for accent and pronunciation. It only knows this if the language is specified in the page HTML.

### Deadline

20/02/2021

### What needs to be done?

You’ll need to check the HTML of your sample content pages to see whether your website does this. To inspect the page HTML, use the

[2021-01-26 16:01] Angelsaur opened #68 "HTML checks - Check any video players are accessible"
### Summary

You need to check that any video players are accessible. This means checking that the buttons you need to use to interact with the video player are marked up in a way that a screen reader would recognise.

### Deadline

20/02/2021

### What needs to be done?

You’ll need to inspect the page HTML to check whether you’re meeting this requirement. Bring up the page HTML using the same me

[2021-01-26 16:52] GeorgiaHCA opened #301 "Check PDFs and other documents for accessibility"
### Summary

You’ll need to check your sample of PDFs and other documents (for example, Word documents, spreadsheets and presentations). Your sample should include:

documents that are essential to users accessing one of your services, no matter when they were published

non-essential documents (such as leaflets) that were published on or after 23 September 2018

### Deadline

20/02/2021

### What

[2021-01-26 17:19] #24 closed, assigned to GeorgiaHCA

[2021-01-26 17:20] #18 closed, assigned to jhlink, GeorgiaHCA

[2021-01-26 17:23] GeorgiaHCA opened #69 "Brief explanation of explore stories page"
### Summary

A few sentences only to describe the explore stories page and what can be done there.

### Deadline

31 Jan 2021

### What needs to be done?
This is fixable with a simple commit by adding some html text to the "explore-stories.html" file in "main".

### Who can help?
This is a really good first issue for anyone beginning on their web development journey .

[2021-01-26 17:29] #21 closed, assigned to jhlink, GeorgiaHCA

[2021-01-26 17:39] GeorgiaHCA opened #71 "Add Autistica and Turing logos"
### Summary

Add Autistica and Turing logos to the MVP website on the landing page.

### Deadline

20/02/2021

### What needs to be done

New imags can be included by adding them to the folder https://github.com/GeorgiaHCA/AutSPACEs/blob/main/, and then creating a path to them via. changing the html code in  https://github.com/GeorgiaHCA/AutSPACEs/blob/main/server/apps/main/templates/main/index.ht

[2021-01-26 17:52] GeorgiaHCA opened #72 "A process flowchart of how Django handles form requests is shown below, starting with a request for a page containing a form (shown in green)."
A process flowchart of how Django handles form requests is shown below, starting with a request for a page containing a form (shown in green).

![image](https://user-images.githubusercontent.com/46889966/105339266-6627a280-5bd4-11eb-82ea-37b183aa5dfb.png)

_Originally posted by @GeorgiaHCA in https://github.com/GeorgiaHCA/AutSPACEs/issues/16#issuecomment-764542157_

[2021-01-26 17:55] #23 closed, assigned to jhlink, GeorgiaHCA

[2021-01-27 07:42] GeorgiaHCA opened #73 "Create Glossary"
### Summary

In order to make the platform more inclusive, it would help to include a glossary of technical termss, as well as a gloassary of appropriate, inclusive language relating to autism and intersectional issues.

### Deadline

15th Feb 2021

### What needs to be done?

- [ ] List words that are technical and which may be confusing to non-technical people throughout repository and website
-

[2021-01-27 09:27] GeorgiaHCA opened #74 "Onboard Sophia"
### Summary

The amazing Sophia has agreed to help build the platform! We need to make sure she is set up for collaborating.

### Deadline

27th Jan 2021

### What needs to be done?

- [x] Git repo shared and walked through
- [x] Sophia to be able to give an executive summary of the project
- [x] Core project needs identified
- [x] Action plan in place for addressing those need
- [x] Set up meetin

[2021-01-27 11:27] #12 closed, assigned to jhlink, GeorgiaHCA

[2021-01-27 12:39] #74 closed, assigned to BrainonSilicon, GeorgiaHCA

[2021-02-01 09:04] JamesSCTJ opened #75 "Produce revised guidance for getting set-up on the Autspace's code repository"
Current guidance for getting set-up on the Autspaces repository is unclear; particularly in respect of downloading key software components beyond Python.  This is an accessibility issue and should be resolved as quickly as possible.

[2021-02-01 09:08] GeorgiaHCA commented on #75
Hi @JamesSCTJ - thank you for flagging this. I agree this is crucial for accessibility. I will make it a priority today.

[2021-02-01 11:00] GeorgiaHCA commented on #75
Hey @JamesSCTJ thanks so much for your input this morning. I'm delighted you're learning python 🐍 For this issue I think screen shots of how it should look would be useful, and some troubleshooting for main issues that come up! Do you think you could procide some screenshots of where you get stuck? I think some of this has to do with setting which is different for a windows than a mac?

[2021-02-07 19:29] jhlink commented on #75
Hey @JamesSCTJ ,

Could you describe which steps in this [readme](https://github.com/GeorgiaHCA/AutSPACEs/blob/main/dev_readme.md) that you're experiencing trouble?

As for dependent packages, this is handled automagically depending on how you want to proceed with development. If you're developing locally, you'll need to have the appropriate Python version needed to run `poetry`, which would handl

[2021-02-07 19:35] jhlink commented on #33
I think we should have a readme somewhere describing the roadmap in two week sprints, where each sprint we dedicate to some milestone.
I really don't think issues for milestones need to be created until the current milestone is nearing completion. So, in this regard, items 5 and 6 are unnecessary. Items 1 and 2 are one and the same, and items 4 is a byproduct of the aforementioned task pairs.

Pre

[2021-02-07 19:36] jhlink commented on #33
Just a heads up, I expect milestone 1 to be completed this week, so we might need to have a conversation at some point about what needs to happen next.

[2021-02-07 19:37] jhlink commented on #22
Closing. This isn't necessarily at the moment, and we can create an automatic style later.

[2021-02-07 19:37] #22 closed

[2021-02-08 15:41] GeorgiaHCA commented on #1
@all-contributors bot please add @JamesSCTJ for ideas, test, and review

[2021-02-08 15:55] GeorgiaHCA commented on #1
@all-contributors bot please add @JamesSCTJ for ideas

[2021-02-08 16:08] GeorgiaHCA opened #78 "Add contribbutors"
Add James and Sophia to repo as contributors

[2021-02-08 16:09] GeorgiaHCA commented on #1
@all-contributors bot please add @BrainonSilicon for planning and ideas

[2021-02-08 16:10] GeorgiaHCA commented on #78
Done!

[2021-02-08 16:10] #78 closed

[2021-02-09 12:20] GeorgiaHCA opened #300 "Repo Refresh!"
## Summary

Make sure the repo is in really good condition for further engagement/community building with project.

## Date Due by

This is an ongoing process, but I'm going to aim to finish this iteration of tidying work by **Monday 31st May**

## Details

It's been a while since the last refresh and lots has changed!

Time for an early Spring clean!

We also have Lotty on board for community man

[2021-02-09 12:38] GeorgiaHCA opened #299 "Find more opportunities for dissemination and community engagement"
## Summary

It would be fantastic to find more opportunities to promote the project, e.g. webinars, seminars, conferences.

## Date Due by

Ongoing

## Who can help

Anyone can help by writing or nominating any opportunities to promote and disseminate the project, as well as to suggest communitis to engage with or relevant courses for appropriate learning. Just comment on this issue with suggestio

[2021-02-09 12:41] GeorgiaHCA opened #298 "Build connections across Turing"
## Summary

Build connections with other projects which have useful overlap across Turing.

## Date Due by

Ongoing!

## Details

There are lots of interesting projects it would be good to learn from and also to promote participatory science to.

## Who can help

Turing people.

[2021-02-16 18:15] GeorgiaHCA opened #80 "Onboard Isla"
### Summary

Onboard Isla

### Deadline

Friday 19th Feb 2021

### What needs to be done?

- [x]  Introduce to project
- [x]  Add to repo and make sure has links
- [x] Connect to community

### Who can help?

Everyone welcome Isla :)

[2021-02-16 19:02] GeorgiaHCA opened #81 "Integrate gov.uk components"
### Summary

Investigate proposed gov.uk components to make sure that they are suitable in their current place for the MVP

They should:

- function with Django framework and fit with Open Humans backend
- be accessible to diverse users
- be sufficiently well-documented that they can easily be picked up by other open source developers

[2021-02-16 19:03] GeorgiaHCA commented on #81
Thank you for agreeing to help @MaxwellRiess !

[2021-02-23 11:28] GeorgiaHCA commented on #1
@all-contributors bot please add @gedankenstuecke for planning, ideas, code, infrastructure, and tests

[2021-02-23 17:09] GeorgiaHCA commented on #1
@all-contributors bot please add @gedankenstuecke for infrastructure, tests, and code

[2021-03-01 12:48] GeorgiaHCA opened #297 "BUG: broken links - check"
## Summary

There are a lot of broken links throughout the site because of a few layers of Repo reorganisation:

I've looked through:

* The main README
* applications
* community recommendations

The other folders are still to do. You can find ones yourself
or
look at the comments below issue [#423](https://github.com/alan-turing-institute/AutisticaCitizenScience/issues/424) for broken links othe

[2021-03-02 12:04] GeorgiaHCA opened #296 "Report broken links"
## Summary

If you find a broken link anywhere in the Autistica GitHub let us know by writing where it is or copying the url in a comment below 👇 and we will fix it ASAP. Thank you!!

### Want to fix the links yourself?

Go to issue [#423](https://github.com/alan-turing-institute/AutSPACEs/issues/297)

[2021-03-04 13:53] GeorgiaHCA opened #295 "Create a guide to subgroups"
## Summary

Create a guide to the different working groups areas for the project.

## Details

During the first three  project meet-up sessions, the group identified a number of different areas which people were interested in joining up for or contributing to. These are subgroup. It would be good to have a document to describe these subgroups, what as well as a description of:

- [ ] What the area

[2021-03-04 14:07] GeorgiaHCA opened #294 "Update guide to issues"
## Summary

There is already a guide to issues in the contributing-guidelines file. This needs updating with the new issues which are found under the "issues" list.

[2021-03-04 14:19] GeorgiaHCA opened #293 "Platform Branding"
## Summary

The platform (AutSPACEs) needs some branding design so it is engaging and consistent. Suggested in meet-up session

To suggest a design, just upload it by dragging or dropping or copy and pasting it into the comments below.

To review a design, just leave a comment about the design in the comments section below

**You can also email Georgia with your design, review, or ideas at gaitken

[2021-03-11 12:27] kkothari2001 opened #85 "How do I start contributing to this project as an aspiring GSoC student?"
Apologies if this isn't the best place to ask this doubt. But what would be the best place to start understanding this repo better and start contributing to it? I tried to join the slack link in the README, but that doesn't seem to be working!

I would love to start contributing to this repo as soon as possible!

[2021-03-11 15:01] GeorgiaHCA commented on #85
Hi, thanks for your comment! Yes, this iis a great place to ask.

You can use this link to join our slack channel: https://slackin.openhumans.org

I see we have the wrong link in the README! II'll update it right away.

Welcome - delighted you'd like to contribute ⭐

[2021-03-13 08:20] NEERAJAP2001 commented on #71
Hello @GeorgiaHCA, I'm working on this issue but where should I change the Html Code in https://github.com/GeorgiaHCA/AutSPACEs/blob/main/server/apps/main/templates/main/index.html
I'm assuming it's [Here](https://github.com/GeorgiaHCA/AutSPACEs/blob/2392e4ee731c44661059b35cc205613697c782d6/server/apps/main/templates/main/index.html#L140)
Creating and new class and adding the images?

The Folder l

[2021-03-14 10:41] Islast commented on #80
:) :wave:

[2021-03-14 10:42] GeorgiaHCA commented on #80
Hey @Islast :D

[2021-03-15 14:27] GeorgiaHCA opened #88 "GSoC 2021: Project ideas and assessment requirements"
## :tada: **Welcome GSoC Contributors! This is The AutSPACEs platform development repository** :tada:

:dizzy: _We're excited that you're here and want to contribute._ :dizzy:

### Summary

* INCF is accepted as [Google Summer of Code](https://summerofcode.withgoogle.com/) (GSoC) organisation, & _AutSPACEs_ is listed as one of the projects ([see the proposal](https://docs.google.com/document/d/14w

[2021-03-15 17:41] anoura12 commented on #88
Hi!
Since this issue is a WIP, should we go ahead and familiarize ourselves with the repositories to start with?

[2021-03-15 17:46] GeorgiaHCA commented on #88
Hiya, thanks for your comment and welcome @anoura12 ! Yes, please do take a look through the repositories until the issue above is no longer a work in progress. I'm still getting feedback and wouldn't want you to lose any time on something which might change.
Should be open soon and I'll keep everyone posted on the #autistica-turing slack channel as well. You are welcome to join our Slack channel,

[2021-03-18 13:00] GeorgiaHCA opened #292 "Create Agenda Bot as a real robot!"
## Summary

There was geeneral consensus in the previous meet-up group that having an agenda bot to keep us to schedule was totally awesome.

Only problem is at the moment this is a human bot requiring **2 hours** of @BrainonSilicon 's time! just to keep track of the agenda.

## Suggestions for tasks that can fix this issue

Let's create an automated version and release Sophia back into her human

[2021-03-18 15:02] GeorgiaHCA opened #89 "Error on PR #87 Migrating Database"
**The Bug**

Database not migrating properly

vim docker-migration-issue.log

This occurs when I try to run the platform locally. I get the landing page, but not the other pages of the platform.

**What Happens**

 => ERROR importing cache manifest from autspaces:dev                                                                                     1.6s
 => ERROR importing cache manifest from aut

[2021-03-18 15:03] GeorgiaHCA commented on #89
<img width="791" alt="Screenshot 2021-03-18 at 13 20 12" src="https://user-images.githubusercontent.com/46889966/111648281-1b549080-87fb-11eb-8c4c-b4b734c453eb.png">

[2021-03-18 15:04] GeorgiaHCA commented on #89
We are so close to completing the first 2 milestones! Well done on your amazing work @jhlink - maybe you can help fix this bug and we might be there!

[2021-03-22 15:37] #9 closed

[2021-03-23 08:13] anoura12 commented on #88
Hi, is this issue complete or still a WIP? I was just wondering since the feedback date is on the 25th.

[2021-03-23 13:28] GeorgiaHCA commented on #88
This issue is now OPEN for GSoC students to work on! 🎉

[2021-03-23 13:29] #85 closed

[2021-03-23 13:29] #80 closed

[2021-03-24 09:18] anoura12 commented on #88
This is with regard to uploading data to your project in Step 1 of the issue.

By @KirstieJane - We'll test by uploading, but we'll be looking to see your instructions etc so it makes sense for you to have a think about what data you're expecting us to upload. Which means I'd expect for you to have uploaded some as an example.

[2021-03-26 00:34] jhlink commented on #89
Can you upload the log file, @GeorgiaHCA ? I can't seem to replicate this error.

[2021-03-26 16:35] GeorgiaHCA commented on #89
I DID IT.

[2021-03-26 16:36] GeorgiaHCA commented on #89
I cannot take credit for this thank you for your help @jhlink ⭐

[2021-03-26 17:31] jhlink commented on #89
Writing here for posterity. Need to add this to the Troubleshooting section in the docs.

I wasn't able to replicate the issue, but I was able to fix this by the following:
- Deleting all the pycache directories.
- Dropping the autspaces database and recreating it using the psql within the docker instance for the PostGres database.
     - This is a bit prickly in that you have to log into the dock

[2021-03-30 20:12] GeorgiaHCA opened #291 "Updated OLS materials"
## Summary

Easter is a good time to review the project strategy. This issue is to include updated OLS materials which can be added to this repo to help make strategic decisions and plan out the next phases of the project.

## Details

There are a number of useful resources for strategic, open project management. These could all be updated and added as a PR to this repo.

- [ ] Compare and contras

[2021-04-01 13:06] GeorgiaHCA commented on #53
Reopening issue - we should check this in the next iteration

[2021-04-01 13:16] GeorgiaHCA opened #92 "Transfer ownership of repo to alan-turing-institute"
### Summary

Currntly this repo is owned by GeorgiaHCA, whereas it should be owned by The Alan Turing Institute

### What needs to be done?

- [x]  transfer ownership
- [x]  make sure links still work

### Who can help?

Georgia needs to transfer! Need permission to share

[2021-04-01 20:55] Angelsaur commented on #73
Hi I just had a read through the website and have made a list of technical terms which newbies like myself might need help with. Most of them are already explained but it might be good to have all the explanations in one place so it’s easy to find

Backend database
Branch
Code of conduct
Dashboard
Django
HTML
Open source
Participatory science
Pull request
README
Repository

I also think it might b

[2021-04-06 16:52] jhlink commented on #29
I'm not sure how relevant this is to Milestone 2. Going to remove the label and add this as an enhancement.

[2021-04-06 17:03] jhlink opened #93 "Define Remaining Milestone 2 Tasks"
## Description
As it stands, integrating the file management demo has created a lot of progress.
Need to define a document describing the simplified wireframe to be implemented to complete milestone 2.
Most are captured in the Milestone 2 label, however, it may be too much for incoming developers.

### ToDos:
- [x] Write a doc within the platform-design file detailing the simplified MVP to be impl

[2021-04-12 13:22] malvikasharan opened #290 "Community Management resources and practices: Malvika - Lotty notes"
## Summary

- Malvika will be interacting with Lotty to help her develop community management skills. We will be documenting our discussions here.

## Date Due by

- Until next meeting
  -  [x] 12 April
  -  [ ] 19 April

## Details

**Skills**
* Collaboration
* Communication

**Resources**
* Open humans: https://www.openhumans.org/
* Heart and Soul survey: https://www.heartnsoulasks.com/enter/mIS

[2021-04-28 08:31] KirstieJane opened #289 "Add summaries from Meet Ups into this GitHub repository"
## Summary

Add summaries from Meet Ups into this GitHub repository

## Date Due by

5 May

## Details

## Suggestions for tasks that can fix this issue

## Who can help

@lottycoupat

[2021-05-04 09:19] GeorgiaHCA commented on #93
Heya @jhlink - is this something I could help with? I think there are a lot of labels around accessibility which may be confusing, but these could be done as a checklist at the end (maybe even as an addittional milestone?).

[2021-05-05 01:03] jhlink commented on #93
@GeorgiaHCA , there are a number of accessibility issue tickets that are currently open. I think a good number of them may not be relevant to this current milestone, and I'm wondering if we can summarize/archive them so that we can look at them at a later date. Maybe when we complete milestone 3 or 4?

I'd like to complete this issue ticket by Thursday, to be quite honest. 🤞 !!

[2021-05-05 23:21] jhlink commented on #34
The navigation bar already exists. Further additions should be captured in a new ticket, not in an existing ticket.

Simplicity is the name of the game for Milestone 2.
Closing.

[2021-05-05 23:21] #34 closed

[2021-05-05 23:25] jhlink commented on #81
Removing the milestone 2 tag, and replacing it with the enhancement.

Integrating gov.uk components is outside of implementing the bare minimum wireframes.

[2021-05-05 23:27] jhlink commented on #63
Removing this from milestone 2. This should be lumped with the MVP - Accessibility ticket, or even better, an entire sprint could be dedicated to this.

[2021-05-05 23:29] jhlink commented on #32
Accessibility can be evaluated after the basic wireframe has been completed.
For now, removing the `Milestone 2` tag.

[2021-05-06 10:12] GeorgiaHCA commented on #1
@all-contributors bot please add @sowmya9507 for planning, ideas, and code

[2021-05-11 10:56] GeorgiaHCA opened #95 "Roadmap"
This issue will become the Roadmap for the AutSPACEs platform development.

Creating this roadmap resolves (#33)[https://github.com/alan-turing-institute/AutSPACEs/issues/33]

[2021-05-11 11:13] GeorgiaHCA commented on #95
The Turing Way has a chapter on Roadmapping: https://the-turing-way.netlify.app/collaboration/github/github-roadmapping.html

[2021-05-12 07:16] sowmya9507 commented on #95
Ideas or Questions to the AutSPACEs Repo

- Creating a Miro board to get a more interactive answers regarding the development from the community.

- Making module blocks and labelling them as beginner, intermediate and advance.

- Is it okay to do User testing only on the Landing Page and the experiences page?

[2021-05-12 07:21] sowmya9507 commented on #95
@GeorgiaHCA also, do we need a Static roadmap or a dynamic one? I was thinking to use few roadmap tools online. What do you feel about that? 😄

[2021-05-12 09:23] GeorgiaHCA commented on #95
Hiya, I think there's a lot of detail needed here, but some ideas for roadmap milestones relating to launching the platform (not necessarily ordered).

* create MVP prototype based on spec doc
* Create pathways for different user types (e.g. moderators)
* User testing (in multiple cycles)
* Integrate basic features with Open Humans
* Build moderation process
* Interface design
* Add additional fea

[2021-05-12 09:58] GeorgiaHCA opened #288 "Link up with work on co-occuring conditions"
## Summary

This project can be expanded to look at co-occuring conditions.

[2021-05-12 11:30] GeorgiaHCA commented on #95
Heya! Here's a rough sketch of what it seems like some of the main milestones are for the platform build, but obvs I don't have so much tech background @sowmya9507, @BrainonSilicon, @jhlink, @Islast - then the idea would be to fill in the details after: so chunck it up into labels, and then have small, manageable issues for separate tasks (and all these would link to a broad roadmap)

What's most

[2021-05-12 13:40] lottycoupat commented on #95
@GeorgiaHCA This is really helpful to see! I think for me also would be the tasks that would be needed for each milestone and what the dependencies are for each. For example, what needs to be done before we can start the next task and what tasks could be done at the same time.

The idea suggested by @sowmya9507 above is also really helpful in terms of labelling these as Beginner/Intermediate/Advan

[2021-05-12 13:44] GeorgiaHCA commented on #95
I do love that idea and also Kirstie's suggestion of giving time estimates.

[2021-05-12 13:48] GeorgiaHCA commented on #95
I had a go at that for the project management repo: https://github.com/alan-turing-institute/AutisticaCitizenScience/issues/419 - We can credit @SuziQpid for her work and ideas for this.

I think there's likely to be some technical skills we could assume for working in the AutSPACEs repo so beginner is maybe a bit of a higher bar than in the other repo. It would need to be clear in some way, eithe

[2021-05-12 14:09] lottycoupat commented on #95
Potentially if those labels have already been created, we don't change their definition but only have intermediate/advanced in this repo? Avoid beginner labels as a beginner with no technical skills wouldn't be able to pick up the dev work? I think that would make it clear and avoid confusion...?

Or there is also a "tech-skills-req" label which we could use? If it's easier than intermediate?

[2021-05-12 14:36] SuziQpid commented on #95
Dear All,

Perhaps we could change beginner label to ‘entry or basic  tech skills’ ( BTS)  for simpler tasks than intermediate.

I don’t qualify for even that category and l think Lotty is right. We need to play to our strengths, avoid confusion whilst always being inclusive of everyone who wants to make a contribution big or small. A tall task of course.

Suzanne lwai

[2021-05-12 14:47] lottycoupat commented on #95
@SuziQpid Thanks Suzanne! Potentially we change the tech-skills-req to "Basic Tech Skills" so that we still have the beginner one for other tasks?

@GeorgiaHCA we can make this clear in a contributor skills doc?

[2021-05-12 14:57] jhlink commented on #95
Jumping in because my life revolves around Github. :D

Why not use the `Good First Task` label for beginner level tasks?
The kind of tasks I expect/create with this label are adding some HTML elements, changing some text, or generally something that is commonly practiced/implemented and can be easily Google'd. If you can copy/pasta the code from somewhere else and it works here, it's a simple enou

[2021-05-12 15:19] lottycoupat commented on #95
So for platform development we would have Good first task --> Intermediate --> Advanced - if so, I like that!! @jhlink

[2021-05-12 15:28] GeorgiaHCA commented on #95
Good first task is geared towards people who are contributing for the first time to GitHub and it is a label which functions across repositories so seems a good one to have!

[2021-05-12 15:31] GeorgiaHCA commented on #95
I also like @sowmya9507's idea of having a flow chart (/decision tree?) to help people work out which issues they can do, although I expect that could be a lot of work!

[2021-05-12 15:40] lottycoupat commented on #95
@GeorgiaHCA @sowmya9507 I am working on some contributing skills with involve setting out the different areas of the project, what skills they need for it and how to get involved. For the how to get involved, I have what labels they should look out for in the repo. Which sounds familiar. Perhaps once that's completed we can see the need to map out into a visualisation/decision tree and balance cap

[2021-05-12 16:07] GeorgiaHCA commented on #95
Yep, makes sense @lottycoupat :)

[2021-05-12 16:56] SuziQpid commented on #95
Dear All,

A little triggered by the word Good attached to any task ! If you fail at it are you ‘bad ‘ at basic technology.?!  I recognise though that if that’s a commonly used term across Git hub ld have to bow to the majority of users.

I can’t visualise a decision tree though the concept sounds great. Do you attach your name to a branch of it that describes the type of work / features that are

[2021-05-12 16:59] GeorgiaHCA commented on #95
Thanks for joining the discussion @SuziQpid ! And for taking on GitHub!

[2021-05-12 17:00] GeorgiaHCA commented on #95
A decision tree is a flow chart you use to understand what things are included when making a decision. Here's a simple example:

![image](https://user-images.githubusercontent.com/46889966/118015199-ee7caf80-b34b-11eb-8351-07325252c869.png)

[2021-05-12 17:02] GeorgiaHCA commented on #95
I think "good first issue" is meant to say whether _the issue_ is good or bad for new people, not whether the person working on the issue is bad, but I can see how that could be unclear! Making everything clear is a really important part of the onboarding process so thank you for pointing that out.

[2021-05-14 09:10] GeorgiaHCA opened #287 "Update Turing website"
## Summary

It's been a long time since we updated the Turing website! We should send a set of updates and usfeul things to show our progress.

https://www.turing.ac.uk/research/research-projects/citizen-science-platform-autistic

## Who can help

Anyone can suggest updates that should be there. Then Georgia or Lotty will out them together and run them past Kirstie.

[2021-05-17 17:08] lottycoupat opened #286 "Creating and adding to our Persona and Pathways work for our AutSPACEs community"
## Summary

Creating and adding to our Persona and Pathways work for our AutSPACEs community. This a key piece of work to understand our community.

## Date Due by

End of May Approx.

## Details

A persona is a description of an imaginary person, based on real-world observations and understandings of current or future users.
* Persona creation tools help teams to develop a common understanding of

[2021-05-17 17:34] lottycoupat opened #285 "Mapping out accessibility requirements for the project"
## Summary
This issue deals with mapping out accessibility requirements for the project. This can be for the platform development or any other area of the project.

## Date Due by

Mid June Approx.

## Details

Ensuring the project is accessible and inclusive for all is integral is for our project and we strive to ensure it is at the forefront of our work!

Therefore, this exercise is to capture a

[2021-05-18 16:01] GeorgiaHCA commented on #15
@sowmya9507 - I created an html version of this however it was not fitted to Open Humans. Are you able to take on this issue? Does it have enough information?

[2021-05-18 16:05] GeorgiaHCA commented on #19
Are you able to take this on @sowmya9507 ?

[2021-05-18 16:07] GeorgiaHCA commented on #17
Are you able to take this on @sowmya9507 ?

[2021-05-18 16:09] GeorgiaHCA commented on #16
Are you able to take this on @sowmya9507 ?

[2021-05-18 16:11] GeorgiaHCA commented on #93
Hiya @sowmya9507 are you able to input into this?

[2021-05-18 16:12] GeorgiaHCA commented on #15
![image](https://user-images.githubusercontent.com/46889966/118686717-2bd5b700-b7fc-11eb-82ce-fd2ba03d84d7.png)

[2021-05-18 16:13] GeorgiaHCA commented on #15
![image](https://user-images.githubusercontent.com/46889966/118686842-4c057600-b7fc-11eb-871d-cf4ea91b3d80.png)

[2021-05-20 16:29] lottycoupat opened #284 "Engagement building with individuals who have an interest in the data for research and policy-making"

[2021-05-24 10:23] sowmya9507 commented on #19
@GeorgiaHCA I will take this up and working on this.

[2021-05-24 10:47] GeorgiaHCA commented on #32
This issue is the final one to chcekoff once all the Milstonee 3 accessibiity features have been checkde for the MVP.

[2021-05-24 11:17] GeorgiaHCA commented on #19
Thanks @sowmya9507 !

[2021-05-24 11:18] GeorgiaHCA commented on #15
Hiya @sowmya9507 - would you be able to take a look at this issue and tick off the parts you have already done? Also comment on any part of this which is ambiguous - or which needs extra information?

[2021-05-24 12:31] sowmya9507 commented on #15
I was wondering whether we could break up the creating webpage on top of the Open Humans Backend.

- Understanding how to create a project on Open Humans
- Splitting up the required components in the Open Humans backend.
- Also create a user flow of hosting a webpage with the Open Humans

@GeorgiaHCA please let me know if anything else can be added. :)

[2021-05-24 13:14] GeorgiaHCA commented on #15
Thanks @sowmya9507 ! 🌻  - I think creating a project on open humans is documentation which was to do with GSOC - @jhlink, @gedankenstuecke - will open source contributors need to create a project on Open Humans in order to be able to work on the platform?/contribute with PRs?

[2021-05-24 13:15] GeorgiaHCA commented on #15
The second part seems important. Would you be able to break that down @sowmya9507 into what those components are likely to be and if not what info is needed?

[2021-05-24 13:17] GeorgiaHCA commented on #15
Have you managed to create a webpage on top of the open humans backend @sowmya9507 ?

[2021-05-24 13:29] sowmya9507 commented on #15
-- @GeorgiaHCA Sure I am jotting it down and will update it soon.

-- I haven't create a webpage but I have created the projected and hosted landing/starting page. I can create the webpage and record the things that I have done -- maybe this might be helpful.?

[2021-05-24 13:49] GeorgiaHCA commented on #17
<img width="1930" alt="image" src="https://user-images.githubusercontent.com/46889966/119357176-2a463c00-bc9f-11eb-9319-26938bd6c2fc.png">

[2021-05-24 13:51] GeorgiaHCA commented on #17
Original user testing feedback

From https://github.com/alan-turing-institute/AutisticaCitizenScience/blob/master/community-recommendations/user-tests/sprint-6-feedback/summary-sprint6-feedback.md

‘How it works’ section

    A C d: “I want to look only at ‘how it works’.”
    A C d: “‘Authorise project’, what does that mean? Is that the consent-thing?”
    A C d: “I would maybe put ‘authorise pro

[2021-05-24 14:17] GeorgiaHCA commented on #16
## Community Input

### Have different input options
(A g): “we want to make it as accessible to as wide a scope of the autistic community as we can”
(A d): “accommodate as many different preferences and styles for providing input within the realms of what’s actually achievable”
(A g): “…accommodate as many different preferences and styles for providing input within the realms of what’s actually a

[2021-05-24 14:17] GeorgiaHCA commented on #16
### Have a question about solutions or ideas for improvements/what would have made it better
autistic people want to be part of the solution.
(A d): “…it’s crucial to have a field that can capture…learning and solutions”
(A d): there are two important aspects: what can autistic people do to change their environments, and what can autistic people do to protect themselves from their environments.
(A

[2021-05-24 15:00] lottycoupat commented on #73
@GeorgiaHCA think this should also be in the other repo?

[2021-05-24 15:37] lottycoupat opened #283 "Assign moderators to the project to moderate the stories coming in through the platform"
## Summary

We need to recruit and assign moderators to the project and it's platform to ensure the safety and inclusivity of the platform and the stories that are made public.

This is dependant on understanding the structure of the moderation process which will inform us of how many moderators we will need. [insert issue here]

## Date Due by

End of July.

## Suggestions for tasks that can fix

[2021-05-24 15:42] skfantoni opened #282 "Defining Code of Conduct for Stories"
## Summary

Working out what is appropriate to post in a story.

## Date Due by

TBC

## Details

* Agree on what counts as ableist or offensive re autism
* Decide what counts as inappropriate re race, genre, sexuality etc.
* Agree on how much of the story should be specifically about sensory issues
* Decide how specific people can be in re to places and people

## Suggestions for tasks that can f

[2021-05-24 15:42] GeorgiaHCA opened #281 "A list of all the decisions that need to be made about moderation"
## Summary

This issue contains all the decisions that need to be made about the moderation process.

## Suggestions for tasks that can fix this issue

There are a number of different suggestions, and lots of useful discussion with many perspectives. Ultimately a decision has to be made. Below are options which need decisions:

To collect thoughts on the following decisions, we will put a survey t

[2021-05-24 16:01] sowmya9507 commented on #16
@GeorgiaHCA are there any solutions where community input can be included which might help us to Create Share Experience MVP flow ? Do we re-write these inputs in development perspective which can be told as requirements? It would be easier to understand as well.

[2021-05-24 16:02] lottycoupat commented on #16
@GeorgiaHCA @sowmya9507

Need to add a task/requirement on ensuring there is a bit within the Input Stories page which tells the user that their story will be moderated if made public.

[2021-05-24 16:28] GeorgiaHCA opened #280 "Moderator User Journey"
RECRUITMNT
- [ ] Option to apply to be a moderator?
- [ ] Invited to become a moderator?

MVP
- [ ] Signup and onboarding process
- [ ] Clear code of conduct
- [ ] Clear process and steps
- [ ] Clear escalation process
- [ ] Can view an experience and assess it anonymously
- [ ] Can publish experience if appropriate
- [ ] Can reject experience if appropriate

ADDITIONAL
- [ ] Can contact person wh

[2021-05-24 16:52] GeorgiaHCA opened #97 "Integrate moderation into platform"
### Summary

We will need to build the moderation process into the platform once the MVP has been created and the moderation process has been defined.  This requires the moderation created and the MVP built.

[2021-05-24 16:57] GeorgiaHCA commented on #97
Does this issue look good to you @JamesSCTJ?

[2021-05-24 20:19] JamesSCTJ commented on #97
Yes it does @GeorgiaHCA !

[2021-05-25 08:55] GeorgiaHCA opened #279 "Research: indirect experience reporting"
## Summary

This issue is to caprture research ideas on indirect experience reporting and the effects on psychology research, looking particularly at the case of autism.

## Date Due by

This is likely to be a long term aim following other more immediate actions to be taken for the Autistica citizen science project.

## Details

One of the earliest concerns expressed by a number of autistic partic

[2021-05-25 09:16] GeorgiaHCA commented on #97
I see - I think that would depend a lot on the degree of separation/integration we would want and how feasible the different options are. I think probably the easiest way would be to have a "safe site" option which would fiilter things out rather than building a whole new platform? I'm wary of stalling on the MVP build while we decide on this, and think it could probably best be implemented afterw

[2021-05-25 09:20] GeorgiaHCA commented on #97
Would you be able to create a separate issue for this @JamesSCTJ? It would be amazing if it could
1) link to the discussion on moderation in the other repo
2) be labelled with 'roadmap'
3) tagging in the dev team and Lotty to see what they think it should be labelled as/where it should sit in the roadmap/which milestone it should go under.
Probs also best to get Kirstie's view!

Thank you so much

[2021-05-25 09:23] sowmya9507 commented on #97
@GeorgiaHCA the option of implementing a safe site is really a great idea. I was wondering what all should be included while implementing this option. Can we also create a list for this?

[2021-05-25 09:28] GeorgiaHCA commented on #97
Hi @sowmya9507 - so my feeling on this is that we should focus on the MVP for now because the safe site would take a whole lot of extra thinking and planning and it needs to be decided whether we want to do it in that way, whereas the MVP is good place to start so we know we have the main features built. But I also think it's a great idea! Just maybe one to focus on as a less immediate priority fo

[2021-05-25 10:54] GeorgiaHCA opened #98 "Document Open Humans Link"
### Summary

Document how Open Humans and the platform interface will operate together, including the file management flow and security and database management.

[2021-05-25 10:59] GeorgiaHCA commented on #98
![image](https://user-images.githubusercontent.com/46889966/119486575-4eae2100-bd50-11eb-830c-830a2f29a039.png)

[2021-05-25 10:59] GeorgiaHCA commented on #98
![image](https://user-images.githubusercontent.com/46889966/119486876-a2206f00-bd50-11eb-99ce-472ac556bfd3.png)

[2021-05-25 11:13] GeorgiaHCA opened #99 "Store text input in Open Humans back end with appropriate tags"
### What needs to be done?

- [ ] Text inputted into the share experience component of the "share experiences page" gets stored securely and in the Open Humans backend database with a user ID
- [ ] The experience is tagged with the user's privacy choices and autism status such that the dataset can be automatically filtered on that basis
- [ ] experiences must be matched with the user so that they

[2021-05-25 11:16] GeorgiaHCA commented on #99
This links to #16

[2021-05-25 11:29] GeorgiaHCA commented on #95
@lottycoupat - tagging you as we made some changes to the dev milestones (see top comment on issue)

[2021-05-25 11:33] GeorgiaHCA commented on #92
This has been done! Yay! Closing this issue now. Thanks everyone

[2021-05-25 11:33] #92 closed

[2021-05-25 11:34] GeorgiaHCA commented on #88
Closing this now - fabulous work @anoura12 ! ❤️

[2021-05-25 11:34] #88 closed

[2021-05-25 11:38] GeorgiaHCA opened #100 "Moderator sign-in"
### Summary

Create **a specific moderator sign-in** (perhaps a specific kind of User ID?), which allows users to **access a private page of experience**s to be moderated so they can decide if they should be made public or not.

### Updates

This is the most basic possible version of moderation for the platform MVP and will certainly be adaptd in Phase 2.

[2021-05-25 11:47] Islast commented on #95
Linking to our milestones page: https://github.com/alan-turing-institute/AutSPACEs/milestones

I think a good roadmap has a brief description of what the projects goals are; a sequence of milestones that function as a kind of narrative of how we're going to reach those goals; and finally a note of any things that haven't been accounted for in any of our milestones. Once the milestones are laid out

[2021-05-25 11:48] GeorgiaHCA opened #101 "Allow user to save an experience and view experiences not yet submitted"
### Summary

Users need to have the option to "save" an experience so they can continue editing it before they submit it. They should also have the option to view unsubmitted experiences on their personal page.

This links with #16

### What needs to be done?

- [x] Design/decide will these experiences be stored and kept secure? - determine data flow.
- [x] Create this code as a PR for the MVP

##

[2021-05-25 11:48] GeorgiaHCA commented on #101
@gedankenstuecke if you have a moment, I wonder if you know how this would work with Open Humans? I think we've spoken about it before!

[2021-05-25 11:55] GeorgiaHCA opened #102 "Integrate sign-in process using Open Humans with the interface"
### Summary

Open Humans already has an effective sign-in process that protects privacy. We want to make sure that users signing up do so through the OH process so that their accounts and inputs link up with the Open Humans system.

### What needs to be done?

- [ ] data capture is done by OH in sign up process
- [ ] Make sure that this is a natural part of sign-up sign in for users
- [ ] Have a s

[2021-05-25 12:08] GeorgiaHCA commented on #93
Hiya @jhlink - I've created a new milestone which contains the data-capture/data-management tasks relating to Open Humans and created a bunch of issues in this milestone which I've linked to the MVP issues which have a checklist for each page. This has been added to the WIP roadmap for development.

Would also appreciate your throughts, @lottycoupat, @Islast, @gedankenstuecke, @sowmya9507, @Braino

[2021-05-25 16:09] #93 closed

[2021-05-25 16:16] GeorgiaHCA commented on #95
@sowmya9507 , @lottycoupat and @anoura12 - here's the roadmap we were working on. It needs to be a in a structured md which links to the milestones and issues

[2021-05-26 12:55] lottycoupat opened #277 "Research into literature and research that is similar to AutSPACEs in goals and project ambition"
## Summary

This issue is aimed to find other literature and work that has occurred or is ongoing in the space of:

- Autism Research
- Citizen Science
- Participatory Research

## Date Due by

Ongoing.

## Details

This will help us strategize and publishing of papers.

## Suggestions for tasks that can fix this issue

* [ ] Research into past literature on similar projects and ambitions
* [ ] Fi

[2021-05-27 09:35] GeorgiaHCA commented on #99
are you working on this issue @sowmya9507 ?

[2021-05-28 09:50] GeorgiaHCA commented on #15
Heya @jhlink! It would be awesome if you could take a look at this issue (and the other ones Milestone 2 ones), and let me know if you I know you had some questions about the wireframe and how things fit together. The dream is for it be possible to follow the issues to make the platform - so if they are missing anything (e.g. work you've done, or complexities I hadn't realised, or missing info), p

[2021-05-28 09:51] GeorgiaHCA commented on #15
Same for you @anoura12 and @sowmya9507 :D

[2021-05-28 12:35] jhlink commented on #15
@GeorgiaHCA , yes absolutely!! Thanks for the reminder!!

My hands are tied with work at the moment, but I'll be sure to get to it today!

[2021-05-29 04:21] jhlink commented on #20
I don't think this should be part of the milestone 2. There aren't any simplified wireframes for this, but even if a placeholder is the only desirable feature, then my design suggestion would capitalizing Django's native support for an admin panel, which could be modified to meet all the moderator requirements.

That said, the following items are simply out of scope for this milestone.

[code]
Thi

[2021-05-29 04:45] jhlink commented on #15
Strong work, @GeorgiaHCA !! 👏  Most of these tasks are great to start. There are a couple that can be removed or updated, but overall I think this will be a great ticket for @sowmya9507 and @anoura12 to tackle!! Great job!!

[code]
This is a moot task. There are multiple web pages created on top of the OH backend.

---

[code]
The navigation bar in the [simplified wireframe](https://www.figma.com/

[2021-05-29 05:40] jhlink commented on #17
Very insightful user feedback, @GeorgiaHCA !!

This ticket is a bit old and needs some updating, which I think was inevitable since the project evolved a bit after the former was created.

----

So, given the [simplified wireframe](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=168%3A1), there should be a screen preceding frame 1, which takes the user to a simple `usernam

[2021-06-01 10:02] GeorgiaHCA opened #105 "Create "View experiences" page"
### Summary

With respect to the [user flow diagram](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/platform-designs/user-flow), there must be a page that showcases public, moderator approved experiences for non-logged-in and logged-in users. Please take extra care when add the `Logout` button.

MVP requirements may be found [here](https://github.com/alan-turing-insti

[2021-06-01 10:08] GeorgiaHCA opened #106 "Retrieve experiences from database"
### Summary

We need to be able to automatically retrieve experiences from the OH database and display them on the platform interface

### Deadline

### What needs to be done?

- [ ] Experiences with approval to be published on the platform should be displayed on the private "moderation page"
- [ ] Experiences with approval from moderators to be published should be displayed on the "view experienc

[2021-06-01 10:15] lottycoupat opened #107 "Create User Flows for MVP"
### Summary

Create user flow from James Kim's initial flow to inform how the user will interact with the platform and

### Deadline

02/06/21

### What needs to be done?

- [x] Get drawings from JK
- [ ] Tidy up
- [ ] Add User flow for moderation perspective
- [ ] Add navigation bar contents
- [ ] Add landing page difference when signed in/not signed in

### Who can help?

Will need review from @

[2021-06-01 10:16] lottycoupat commented on #107
@GeorgiaHCA @jhlink FYI

@sowmya9507 @anoura12 here is the issue I am going off for creating the user flows.

[2021-06-01 10:48] lottycoupat commented on #20
Decision to be made:

Which stories need to go through the moderation process:
- Only to research
- Only to AutSPACEs users
- To ALL public

@jhlink @GeorgiaHCA

[2021-06-01 10:52] GeorgiaHCA commented on #107
Fab thanks @lottycoupat - 🚀

[2021-06-01 15:20] lottycoupat commented on #107
@GeorgiaHCA @jhlink @anoura12 @sowmya9507 my progress so far: file:///C:/Users/ccoupat/Downloads/AutSPACEs%20-%20User%20Flow%20(2).pdf - does that link work?

[2021-06-03 08:49] GeorgiaHCA commented on #15
Hiya @sowmya9507 ! Here's the embed code for the Tinyletter mailing list:

`<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/AutisticaTuringCitizenScience" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/AutisticaTuringCitizenScience', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="

[2021-06-03 09:01] sowmya9507 commented on #15
Thank you @GeorgiaHCA , I will add it immediately :)

[2021-06-03 14:44] GeorgiaHCA opened #276 "Add citizen science papers to resources folder"
## Summary

This is a fab article by @gedankenstuecke @katoss and Mad Prime from Open Humans. I suggest we link to it in the Resources folder of the repo?

https://osf.io/preprints/socarxiv/rw58y/

[2021-06-07 09:47] GeorgiaHCA commented on #102
Heya @gedankenstuecke - would you have a moment to help @sowmya9507 and @anoura12 with this? 🌟

[2021-06-07 09:50] gedankenstuecke commented on #102
Yep, we're meeting this afternoon to discuss :)

[2021-06-07 15:37] gedankenstuecke commented on #101
We just discussed this during a call with @anoura12, @lottycoupat & @sowmya9507:

One thing we needed to clear up first was what the difference between `save` and `submit` is. It would probably help if the `save` would be renamed as `save as draft` to be a bit more explicit.

Regarding the implementation on Open Humans: I think an additional metadata tag for each experience file in Open Humans cou

[2021-06-07 15:43] GeorgiaHCA commented on #101
That sounds a good solution @gedankenstuecke - I imagine it would be treated in the same was a submitted experience that had no sharing permissions (so would just be viewable to the user)

[2021-06-07 16:05] gedankenstuecke commented on #101
Right, that would be the same thing, but with the extra `draft` flag, so that you can highlight it as 'not submitted yet' in the front end for users to see it more clearly

[2021-06-08 13:27] lottycoupat opened #278 "Need help for finding information and documents? Comment on this issue and someone will help you."

[2021-06-09 09:53] lottycoupat opened #111 "To create style requirements to ensure consistent design across all pages of the MVP"
### Summary

This issue is to ensure that the style of the pages that are developed by different people is consistent. To ensure this, a style requirements doc will be created with guidelines on what the specific styles need to be on the page. This includes: font size, colour, shape of buttons etc.

### Deadline

18/06/21

### What needs to be done?

- [ ] Agree style design to follow
- [ ] Draft

[2021-06-09 09:56] lottycoupat commented on #111
@GeorgiaHCA Have created this issue after a discussion with Anoushka today. She has been working on the landing page and wants to ensure that any styling that is being created on the landing page is consistent with all other pages.

Do we have a set of style guides that are more specific than the wireframes already?

If not, should we base all other pages on the style that Anoushka has developed s

[2021-06-09 13:31] GeorgiaHCA commented on #111
## Designing for users on the autistic spectrum - Summary
Do

    use simple colours
    write in plain English
    use simple sentences and bullets
    make buttons descriptive - for example, Attach files
    build simple and consistent layouts

Don't

    use bright contrasting colours
    use figures of speech and idioms
    create a wall of text
    make buttons vague and unpredictable - for e

[2021-06-09 13:33] GeorgiaHCA commented on #111
<img width="900" alt="image" src="https://user-images.githubusercontent.com/46889966/121364406-aa230600-c92f-11eb-8205-0df755bea8a6.png">

[2021-06-09 13:36] GeorgiaHCA commented on #111
Ugh sorry that's so tiny! Trying to copy from a PPT :/ ...

[2021-06-09 13:37] GeorgiaHCA commented on #111
### Additional design considerations

(A  P d): "that actually matters to me because I... switch between android and iPad, and It's how I choose to live my life, but it can be annoying when things don't work out"

(A d): bring one thing up at a time

(A d): "just one thing or question or visual per page, and then...press next"

Back-to-top button

 (A d): "the words used, or any writing used" shou

[2021-06-09 13:39] GeorgiaHCA commented on #111
Here's a selection of comments from people in co-creation sessions/discussions. I'd suggest for the MVP concentrating on these aspects:

(A d): bring one thing up at a time

(A d): "just one thing or question or visual per page, and then...press next"

(A d): "I'm very prone to information overload, so I would want from my point of view this default interface to be as plain and un-distracting as p

[2021-06-10 20:25] israelvictory commented on #105
hello, @lottycoupat! I'd like to start working on this!

[2021-06-11 08:39] lottycoupat commented on #105
@sowmya9507 @anoura12 is Israel okay to start on this?

[2021-06-11 08:52] sowmya9507 commented on #105
Hey @israelvictory thank you :) Unfortunately, I have already finished working on this and few changes are to be done. Would you like to work on the My stories page instead?

[2021-06-11 11:45] mridubhatnagar commented on #19
Hi, I am interested in working on this issue.

cc @lottycoupat

[2021-06-11 11:57] israelvictory commented on #105
Yes, okay with me!

[2021-06-11 12:04] israelvictory commented on #19
Hello @mridubhatnagar! I've just been assigned to this issue by @sowmya9507.

[2021-06-11 12:17] sowmya9507 commented on #20
@lottycoupat will work on the creating of moderation page next!

[2021-06-11 12:52] mridubhatnagar commented on #17
I'm working on this issue.

[2021-06-11 14:01] skfantoni opened #275 "Research needs to be done about people not their conditions"
## Summary

Co-existent conditions funding pitch.

## Date Due by

TBC

## Details

Brainstorm:
[](https://hackmd.io/HCDqt2wwR1WJDpu_sBJ5Kw)

## Suggestions for tasks that can fix this issue

- [ ] Decide where the key gaps in current research are

- [ ] Look at issues in health and social services that are currently offered
- [ ] Look at discrepancies in government data

## Who can help
@GeorgiaH

[2021-06-15 10:43] jhlink commented on #15
@lottycoupat , can you review this ticket for clarity and simplicity? If it looks good, 👍 . Otherwise, let me know if there's anything to change!
@anoura12  and @sowmya9507 , appreciate any feedback as well.

[2021-06-15 10:55] lottycoupat commented on #15
@jhlink should we also link to the requirements for the MVP for info [here](https://github.com/alan-turing-institute/AutisticaCitizenScience/blob/master/platform-designs/platform-requirements/mvp-requirements-list.md?)

[2021-06-16 10:31] jhlink commented on #105
I've revised the tasks for this ticket. Can you review @lottycoupat ?
Additionally, @sowmya9507  and @anoura12 , can you check any tasks that are completed, and if the ticket has already been implemented, could you tag me in the PR as a reviewer?

[2021-06-16 11:10] GeorgiaHCA opened #274 "Update Google Form"
## Summary

Link to example for proposed new Google Form: https://docs.google.com/forms/d/1A9WDJWl7MurySUA0-u20-WZWZxC25_mAjFris-0KKwU/viewform?edit_requested=true

We need to update the existing Google Form so that it:

a) takes into account LC's comments as well as additional input from the community
b) has a generic and flexible form so that we can get ethics approval to use it for asking a ran

[2021-06-16 11:27] jhlink commented on #19
@lottycoupat , review and feedback please!! :)

@israelvictory , I hope this hasn't impacted too much of your progress!! 🙏

[2021-06-16 11:38] lottycoupat commented on #105
@jhlink so with this one - are we having the page with two navigation bars? As with the view experiences page you don't need an account for so if you were looking at it without having logged in it would be the smaller nav bar with less options - but if you are logged in you would have a nav bar with all the options?

Not logged in options you see: Home, View Experiences, Login/Sign-up (?)
When log

[2021-06-16 11:44] lottycoupat commented on #19
@jhlink looks great for this one!!!

[2021-06-16 11:51] lottycoupat commented on #16
@jhlink do we need to add information on the "successfully submitted story" page?

[2021-06-16 12:01] jhlink commented on #105
@lottycoupat , that is correct. There will be two different states for the navigation bar depending on whether the user has logged in.

Great catch!! I'll make the change to the ticket.

[2021-06-16 12:04] jhlink commented on #16
Yes, I'll be sure to include that info when I rework this ticket.

[2021-06-16 12:54] israelvictory commented on #19
@jhlink not at all! Looks great to me. ✨

[2021-06-21 10:09] lottycoupat commented on #19
@israelvictory How's the progress on this page going?

[2021-06-21 14:49] israelvictory commented on #19
@lottycoupat fine! I have done almost everything that needs to be done, I'm still finding it difficult to log in to open humans. Hopefully, I figure out what the problem is and get it fixed at the latest tomorrow.

[2021-06-21 15:23] israelvictory commented on #19
@jhlink @sowmya9507 hey, you think you could help me figure out what's going on here? I'm trying to log in to open humans from the project, and I keep getting "Error: invalid_request". I have set my client id and client secret keys placed properly in my .env file; and also in my project on open humans, I have the redirect URL set to "http://localhost:8000/openhumans/complete".

[2021-06-21 16:16] jhlink commented on #19
Hey @israelvictory , for sure.

Are you running the docker script `./docker-run.sh`? (I believe this is what is called.)

Does your `.env` also include the following?
`OPENHUMANS_APP_BASE_URL="http://localhost:8000"`

[2021-06-21 16:51] israelvictory commented on #19
@jhlink yes, I am. Of course, I have that too.

[2021-06-21 17:08] jhlink commented on #19
@israelvictory , are you available tomorrow for the development zoom meeting?

I'll have more time then, but in the meantime, it seems like your environment variables aren't being sourced.
Have you tried restarting docker and starting with a fresh copy of the main branch?

[2021-06-21 17:14] israelvictory commented on #19
@jhlink not sure, I'll try to attend.

I think I just figured out where the problem is. 🤔 If everything go fine, I'll let you know. Thank you so much for reaching out! I'm grateful.

[2021-06-21 17:17] jhlink commented on #19
Fabulous! If not, I'll be available 10:00 AM BST until 12:00 PM BST (noon) to help out hands-on.

Good luck!! 🤞

[2021-06-21 20:08] lottycoupat commented on #19
@jhlink @israelvictory Just a reminder that the actual zoom co-working is only fortnightly - so not one this week - but that doesn't mean you both can't catch up! Let me know if you need help with Zoom and getting a meeting up and running!

[2021-06-22 09:36] jhlink commented on #19
@israelvictory , were you able to resolve your issue? Feel free to reach out to me on slack for realtime conversation. :)

[2021-06-22 14:38] lottycoupat opened #273 "Testing of Code of Conduct"

[2021-06-22 23:20] israelvictory commented on #19
@jhlink I wasn't, will do, thanks!

[2021-06-23 11:17] lottycoupat opened #118 "Create Moderation MVP Page"
### Summary

With respect to the [user flow diagram](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/platform-designs/user-flow), there must be a page that will be sued by moderators to be able to approve or reject stories that want to be made public.

This should reflect the most basic version of the moderation process as seen in the [figma board](https://www.figma.co

[2021-06-23 11:17] lottycoupat commented on #118
@sowmya9507 please add to the issue if need be. Perhaps linking it to the pull request for this page?

[2021-06-23 11:20] lottycoupat opened #119 "Integrate all pages together to produce final MVP"
### Summary

With respect to the [user flow diagram](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/platform-designs/user-flow), all pages need to be integrated together to follow this flow and user interaction.

Currently, each page in the prototype vary in navigation bar style, orientation, and selection options. This issue tracks progress for each web page that req

[2021-06-23 11:21] lottycoupat commented on #119
hi @anoura12 could you possible add the tasks that need to be done for this please - such as linking the pages and figuring out the flow, and integrating into Django/Website version etc. (not sure if that's the correct wording)

[2021-06-23 19:09] anoura12 commented on #119
Yes sure, @lottycoupat

[2021-06-28 13:54] lottycoupat opened #272 "Create a promotion pack for AutSPACEs project"
## Summary

The promotion pack will include all information that an individual would need if they wanted to speak about the project externally and to others.

## Date Due by

30/07/21

## Suggestions for tasks that can fix this issue

* [ ] Draft promotion pack
* [ ] Review pack by contributors
* [ ] Merge PR

## Who can help

Anyone interested in community or sharing information about the project

[2021-06-28 16:15] lottycoupat opened #271 "[Invitation] Don't know where to get involved with the AutSPACEs project? Here are specific project ideas for new and existing contributors."
## Summary

Here is a list of tasks you can involved in if you're not too sure where the get started.

* [ ] Take over AutSPACEs Twitter account - telling your own story or communicating project events and tasks
* [ ] Newsletter review or writing
* [ ] Sharing your story/introduction about yourself for the Newsletter
* [ ] Tutorials on using GitHub/Slack - written or videos
* [ ] Videos about the

[2021-06-29 02:39] jhlink opened #121 "Create Confirmation - Navigation Screen"
## Summary
Create a confirmation page that directs the user to other web pages.

This confirmation page appears after a sign up, sign in, and a successfully share experience.

A wireframe of the confirmation page is shown here.
![CleanShot 2021-06-28 at 22 30 29](https://user-images.githubusercontent.com/1872836/123727944-7bc68580-d860-11eb-8d66-318f1b2397fa.jpg)

What needs to be done?
- [x] Add

[2021-06-29 09:43] sowmya9507 commented on #69
@GeorgiaHCA is there any specific explanation that has to be added to this page ?

[2021-06-29 10:56] jhlink commented on #17
Hi @mridubhatnagar !! 👋

Out of curiosity, could you share any progress you've made so far?
I think this task is a bit large for one ticket, and I'd like to simplify it.

That said, I'd like to understand where you are before I start archiving tasks. :)

[2021-06-30 09:22] lottycoupat commented on #121
@jhlink do you need someone to do this?

@israelvictory how do you feel about taking this page one?

[2021-06-30 09:25] israelvictory commented on #121
Awesome! @lottycoupat I can do this. I'll finish "My Stories Page" today and begin working on this. 👍🏾

[2021-06-30 09:57] mridubhatnagar commented on #17
Hey @jhlink

Sorry for no updates and delayed response.
I have completed the first page of the sign-up flow, I'll push the changes today.

After that, I can start up with the next page.

[2021-06-30 12:24] jhlink commented on #17
@mridubhatnagar , just to let you know, any design related changes will be handled in a near future milestone.

You don't need to change the button appearance for this ticket 😁

[2021-06-30 13:05] lottycoupat commented on #121
@israelvictory fab thank you Israel! I have added you as the Assignee 👍

[2021-07-01 18:21] mridubhatnagar commented on #17
@jhlink thank you for the update.

Based on the revised task description. I have implemented Frame 1 and have raised PR for the same. :)

[2021-07-02 18:42] anoura12 commented on #119
@jhlink @lottycoupat Would it be a good idea to make separate issues on the integration of each page because as I'm making the checklist, it may come out to be lengthier than usual.

[2021-07-02 19:01] jhlink commented on #119
@anoura12 , let's complete the checklist first.

If it's really big, then sure, split the issue into multiple tickets.

[2021-07-03 14:52] jhlink commented on #15
Landing page was handled in #114. Closing.

[2021-07-03 14:53] jhlink commented on #19
@israelvictory has implemented this page. Closing.

[2021-07-03 14:53] #16 closed

[2021-07-03 14:55] #19 closed

[2021-07-03 14:56] #15 closed

[2021-07-03 15:03] jhlink commented on #17
@mridubhatnagar sorry for the late reply!
Fabulous. Go ahead and implement frame 4 as part of PR #122 !!
It'd probably be easier to create a new html file for question 2.

[2021-07-05 08:01] anoura12 commented on #119
@jhlink I've added the tasks to the issue. Is this the right way to go about integrating the pages? Please feel free to make any changes to this as I think this is still in its early stages. Here's some points which I had some doubts on.

Should we go ahead with this idea for the home page? That way the user can refer to this page to understand the working of site without having to go to the landi

[2021-07-07 10:55] GeorgiaHCA opened #270 "Netlify page for meet-up sessons"
## Summary

Create a Netlify page to support community engagement in meet-up sessions

latest version -----> https://www.notion.so/Welcome-to-the-AutSPACEs-Meet-Up-Page-0ad17d5c0f8045be8618686531068622

## Details

We need a page to support fortnightly sessions which are

* help orientate users with info such as time, agenda, schedules
* accessible to diverse autistic collaborators
* clear and con

[2021-07-08 12:00] jhlink commented on #119
@anoura12 , I'm not really sure what you mean here. If the landing page becomes the home page, how would the user understand the site while avoiding the landing page?

Different views? Do you mean the post-signup questions? This might be a bit of challenge to handle since it's dependent on how we define the signup process with OpenHumans. Let's handle this in Milestone 3.

[2021-07-08 12:00] GeorgiaHCA opened #123 "Landing Page: Second Phase"
### Summary

The MVP landing page is complete 🎉 This issue is for the next iteration of the landing page. Please Add your comments below for suggestions for design features

[2021-07-08 12:02] GeorgiaHCA commented on #123
Feedback from @suziqpid

l object to wording on the landing page which has the clunky phrase, "collecting together Autistic experiences etc.". Collecting implies placing things together so that word is superfluous. Only need ‘ collecting'.

[2021-07-08 12:02] skfantoni commented on #118
Add categorisation options

Decisions that need to be made:
- [ ] At what point in the process does categorisation take place?
- [ ] Who decides what stories go under what categories?
- [ ] How are categories displayed on the site?
- [ ] Can users limit which categories they see and when?

[2021-07-08 12:06] GeorgiaHCA opened #124 "Sign-in flow: Second Phase"
### Summary

The MVP sign-up flow is complete 🎉 This issue is for the next iteration of the landing page. Please Add your comments below for suggestions for design features.

[2021-07-08 12:08] GeorgiaHCA commented on #124
Feedback from @SuziQpid

On the sharing options does it say you can tick all that apply  not just one?

[2021-07-08 12:11] GeorgiaHCA opened #125 "Share Experiences - Second Phase"
### Summary

The MVP share experiences page is complete 🎉 This issue is for the next iteration of the landing page. Please Add your comments below for suggestions for design features.

[2021-07-08 12:15] GeorgiaHCA commented on #125
Feedback from @SuziQpid

For "my experiences", should we not have two different shades / colours to highlight label choice between viewable and research which link back to the option buttons on entering experience page and landing page.

[2021-07-08 13:32] BrainonSilicon opened #126 "Meet Up Website"
# Summary
This is the open issue that will capture discussion and workflow for the Meet Up's Website.

# What needs to be done?

## Design ✍️
- [ ] finalize wireframe design
- [ ] finalize page content
- [x] decide on colour scheme ( 🟥 COMMUNITY LED DECISION)

## Develop 💻
- [ ] create static version of the page
- [ ] add in active links (QA check)
- [ ] add in updating functioning for links secti

[2021-07-11 08:09] anoura12 commented on #119
Oh, what I meant was the home page has the same design as the landing page but with the updated navbar and sign in and sign up buttons removed like you saw in the MVP on Thursday. Basically, there should be some home page after the confirmation page. I thought keeping some of the content of the landing page same would help the user refer to the instructions easily. Should we have a different desig

[2021-07-13 09:21] GeorgiaHCA opened #128 "Moderation page - Second Phase"
### Summary

The MVP moderation (placeholder) is complete 🎉 This issue is for the next iteration of the moderation page. Please Add your comments below for suggestions for design features

[2021-07-13 09:22] GeorgiaHCA commented on #123
Commnts from @skfantoni:

Add categorisation options

Decisions that need to be made:
- [ ] At what point in the process does categorisation take place?
- [ ] Who decides what stories go under what categories?
- [ ] How are categories displayed on the site?
- [ ] Can users limit which categories they see and when?

[2021-07-13 09:22] GeorgiaHCA commented on #128
Commnts from @skfantoni:

Add categorisation options

Decisions that need to be made:
- [ ] At what point in the process does categorisation take place?
- [ ] Who decides what stories go under what categories?
- [ ] How are categories displayed on the site?
- [ ] Can users limit which categories they see and when?

[2021-07-13 09:23] GeorgiaHCA commented on #118
Fabulous work! All the criteria are complete so I am opening a new issue for the second iteration and putting your comments there @skfantoni

[2021-07-13 09:34] GeorgiaHCA opened #129 "Create a means for moderators to access private page."
### Summary

With respect to the user flow diagram, there must be a way for moderators to access a private page. This could be by being given additional permission by an admin.

### What needs to be done?

- [ ] Investigate more of the open humans backend
- [ ] design a more detailed user flow for moderators
- [ ] build basic version

[2021-07-13 09:35] GeorgiaHCA commented on #129
@gedankenstuecke would you have a moment sometime to help @anoura12 with this?

[2021-07-13 09:38] GeorgiaHCA commented on #129
Look at the anonymous messaging system in Open Humans

[2021-07-13 09:52] GeorgiaHCA commented on #129
Possible solutions:

- Someone in Django admin can add some users as moderators (@badgermind)

[2021-07-13 09:58] GeorgiaHCA commented on #129
The next stage of this is to design a flow of data, interaction, and access for the moderation process.

[2021-07-13 10:00] gedankenstuecke commented on #129
Happy to help, are there any clear questions on this?

Open Humans itself doesn't provide a flow for this kind of 'metadata' or permissions for users, so it would need to be implemented in the AutSPACEs website itself. The simplest solution would indeed be adding an extra flag to the user accounts in the AutSPACEs django app which allows users to see the moderation interface on the website. This c

[2021-07-13 10:23] #17 closed, assigned to mridubhatnagar

[2021-07-15 12:20] SuziQpid commented on #123
Dear Suzanna,

Being so new to most of this process can you give me a few examples of category headings, then l can see what l ingredients l can add to the working pot if any.

Suzanne lwai

[2021-07-15 17:23] jhlink commented on #121
Closing.

[2021-07-15 17:23] #121 closed

[2021-07-16 12:38] sowmyaarajan opened #130 "My Stories Page second Phase"
### Summary
Now  that the MVP is almost complete in the Milestone 2. There are some additional changes that are required for the page. The stories are displayed for the user in the .json format. Instead of this, when the user click on "My Stories" button, the stories should be displayed on the page. The users should also be able edit them along with the option of whether to submit them for researc

[2021-07-16 12:46] sowmyaarajan opened #131 "Second Phase One color palette for all the pages - Finalize"
### Summary
Making sure that the color palette remains the same for all the pages. The initial look for the basic MVP should be appealing to the users and shouldn't be too bright for the users.

### Who can help?

* Anybody from the platform team

[2021-07-16 17:45] israelvictory commented on #130
Awesome! @lottycoupat can I take this?

[2021-07-19 12:26] lottycoupat commented on #130
@israelvictory Sorry for the late reply! Yes absolutely go ahead on this one :)

[2021-07-20 11:11] #105 closed

[2021-07-20 12:12] #118 closed

[2021-07-21 10:48] lottycoupat opened #133 "Create MVP About Page"
### Summary

The About page on the MVP will contain information about the project as well as a helpful resources.

The design of the page should follow the [figma board](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=20%3A662).

Content for the page is not yet chosen, therefore what should just be developed is a blank page, as in the figma page above, and should link with

[2021-07-21 10:49] lottycoupat commented on #133
@anoura12 following our conversation this morning, I have created this issue - please add detail to it where you find necessary.

@jhlink FYI.

[2021-07-21 10:58] lottycoupat opened #269 "Collate content for the platform's About page."
## Summary

The platform will have an About page. How this page will be set up can be seen in our [figma board](https://www.figma.com/file/HxqTSdeyAUNMualnBV0PET/Autspace-(WIP)?node-id=20%3A662).

This will include the following information:
- News and updates
- Overview and sensory processing
- About our Community
- How AutSPACEs was created
- Code of Conduct
- How we moderate
- Guidelines for su

[2021-07-21 14:52] lottycoupat opened #268 "Create impact stories 1-pager for AutSPACEs"
## Summary

This work links very closely with the issue alan-turing-institute/AutSPACEs#272.

We want to showcase and share the work we have done on the AutSPACEs project, linking key information with how we started to where we are now. To do this, we envision creating an impact summary 1-pager.

An example to use can be found here:
https://www.turing.ac.uk/sites/default/files/2019-10/impact_story

[2021-07-22 09:11] jhlink opened #134 "Navigation: Standardize `Home` page navigation bar"
## Description

The landing page in the prototype is the `Home` page. When the user first loads `localhost:8000`, they should be directed to this page.

![CleanShot 2021-07-22 at 06 46 34](https://user-images.githubusercontent.com/1872836/126627642-03631569-1aea-4033-93c9-29649eb5171d.jpg)

## Definition of Done

- [x] Add `Moderate Experiences` button
- [x] Clicking `Moderate Experiences` directs

[2021-07-22 09:30] jhlink opened #135 "Navigation: Standardize `View Experiences` page nav bar"
## Description
The `View Experiences` page has two states: logged-in and logged-out view. The navigation bar will change based on whether an authenticated user exists.

## Definition of Done

- [x] Rename `Public Experiences` to `View Experiences` in URL path.
- [x] Remove `Login` button in top right corner for logged-out users.
    - `Logout` button should still be present for logged-in users.
-

[2021-07-22 09:43] jhlink opened #136 "Navigation: Standardize `My Stories` page nav bar"
## Description
URL paths in navigation bar needs to be updated.

![CleanShot 2021-07-22 at 05 40 06](https://user-images.githubusercontent.com/1872836/126619293-83b63bee-7754-4422-b9cf-e9de10ed2fa1.jpg)

## Definition of Done

- [x] Clicking `AutSPACEs` directs user to the `Home` page
   - This is `landing.html` *not* `overview.html`
- [x] Clicking `Home` directs user to the `Home` page
   - This

[2021-07-22 09:52] jhlink opened #137 "Navigation: Standardize `Moderation` page nav bar"
## Description
The `Moderation` page needs to be updated.

![CleanShot 2021-07-22 at 05 52 12](https://user-images.githubusercontent.com/1872836/126620908-5bf0d11f-a703-4cca-914b-a0a2c9e17bb1.jpg)

## Definition of Done

- [x] Remove `About` link
- [x] Clicking `Home` directs user to the `Home` page
   - This is `landing.html` *not* `overview.html`
- [x] Clicking `My Stories` directs user to `my_s

[2021-07-22 10:07] jhlink opened #138 "Navigation: Standardize `Share Experience` page nav bar"
## Description
Navigation bar in the `Share Experiences` page needs to be updated.

![CleanShot 2021-07-22 at 06 11 46](https://user-images.githubusercontent.com/1872836/126623561-03db3948-0e8c-4cf2-87af-ab90413d2241.jpg)

## Definition of Done

- [x] Clicking `Home` directs user to the `Home` page
   - This is `landing.html` *not* `overview.html`
- [x] Clicking `View Experiences` directs user to

[2021-07-22 10:44] jhlink opened #139 "Navigation: Standardize `Confirmation` page nav bar"
## Description
The confirmation page has two sets of navigational buttons: items in the navigation bar and items on the web page. Updates need to be made for both.

### Navigation bar
![CleanShot 2021-07-22 at 06 12 01](https://user-images.githubusercontent.com/1872836/126623671-23b2fdbc-aad0-4b23-92fd-f348bba44026.jpg)

### Webpage Buttons
![CleanShot 2021-07-22 at 06 12 58](https://user-images.g

[2021-07-22 11:22] jhlink commented on #129
@gedankenstuecke , makes sense.
I'm thinking of creating an AutSPACE-user model, which inherits from the `OpenHumansMember` model, and adding that . The latter isn't an abstract base class, so opting for [Multi-Table inheritance](https://docs.djangoproject.com/en/3.2/topics/db/models/#multi-table-inheritance) might be our only option.

The problem is access control.

How can we prevent the scenari

[2021-07-22 11:51] gedankenstuecke commented on #129
Yes, I did not mean to suggest using any frontend validation but doing it in the backend through the user authentication. You are already using the internal django authentication system if you use the `django-open-humans` library. The `OpenHumansMember` [links to the django `User`](https://github.com/OpenHumans/django-open-humans/blob/master/openhumans/models.py#L47).

So the easiest would be to c

[2021-07-22 11:58] jhlink commented on #133
@lottycoupat , Is there any additional information that you want to showcase beyond what's covered in the Home page?
Otherwise, I recommend closing this for the sake of completing milestone #2.

[2021-07-22 12:29] jhlink opened #140 "Milestone 3: OpenHumans Integration - Tasks"
## Description
The UI has been created with placeholders as needed. With the OpenHumans integration, the following categories of task exist:
- [ ] #161
- [x] #158
- [x] #157
- [x] #162
- [x] #156
- [ ] Implement My Stories page (#153)
- [x] #166

Note: The Django models need to be defined for different user groups, experiences, and account questionnaire.  These will be handled by a need-based basi

[2021-07-22 12:42] anoura12 commented on #138
@lottycoupat I can take this up.

[2021-07-22 13:55] lottycoupat commented on #138
@anoura12 I have assigned 😄

[2021-07-23 05:23] anoura12 commented on #138
@jhlink I believe there would also need to be a rectification in the landing page once an authenticated user clicks Home. I guess the sign in and sign up buttons need to be hidden and the navbar would also need to updated to include Share Experiences, My stories etc...

[2021-07-23 08:39] mridubhatnagar commented on #136
@lottycoupat, @jhlink I am interested in working on this issue.

[2021-07-23 08:44] lottycoupat commented on #136
@mridubhatnagar awesome! Will assign you the issue!! 😄

[2021-07-23 15:20] jhlink commented on #138
Good point. I'll add that to the list.

[2021-07-23 15:42] lottycoupat opened #267 "Collect and plan all tasks that need to be carried out for the moderation process"
## Summary

We need to plan out all activities that will enable the moderation workstream to continue and keep up momentum.

Therefore, please comment on this issue all activities you think will need to be carried out for the moderation process to be created successfully. These can be both by contributors who are developers (platform specific) or non-developers.

## Date Due by

Ongoing.

## Detai

[2021-07-23 15:52] mridubhatnagar commented on #139
@lottycoupat I can take this up.

[2021-07-23 16:00] lottycoupat commented on #139
@mridubhatnagar fabulous!!

[2021-07-23 18:05] mridubhatnagar commented on #137
@lottycoupat, I can pick this up.

[2021-07-24 12:27] anoura12 commented on #134
@lottycoupat I can take this up.
@jhlink I can make the modifications for the navbar and the buttons here as I mentioned earlier in [#138](https://github.com/alan-turing-institute/AutSPACEs/issues/138)

[2021-07-24 12:59] anoura12 commented on #135
@lottycoupat I can take this up

[2021-07-25 15:30] anoura12 commented on #135
@jhlink In the first task where public experiences needs to be changed to view experiences, I would have to be changing all the urls in all the other html files that direct to view experiences right?

[2021-07-26 07:48] mridubhatnagar commented on #135
@anoura12 if you change the URL path corresponding to public experiences inside urls.py file the changed url path would get reflected everywhere. You won't have to change all the urls in the other html files as name of url is not changed.

However, if you change name of the url too along with the url path then in all files url name will have to be changed.

[2021-07-26 07:57] mridubhatnagar opened #145 "[BUG] - Sign Up User Flow"
Currently, when we submit the question present on the Sign-Up user page the data is not getting submitted anywhere.
On clicking the continue button the user gets directed to the next page but on the next page also form data is not getting submitted.

![Screenshot from 2021-07-26 13-20-03](https://user-images.githubusercontent.com/16894718/126953721-3a2afac1-f887-4b12-872c-cc386ec0cf93.png)
![Scree

[2021-07-26 08:01] mridubhatnagar commented on #145
@lottycoupat, can you assign me this issue.
I had worked on creating these pages too. :)

[2021-07-26 10:55] anoura12 commented on #135
I think Django throws an error if the name and URL path aren't the same.

[2021-07-26 11:48] mridubhatnagar commented on #135
Tested it, Django doesn't throw an error.

[2021-07-26 13:43] jhlink commented on #135
@mridubhatnagar , thanks for the help!
@anoura12 I specifically meant changing the URL path in `urls.py`. It's a bit confusing to see `public_experiences` in the URL path instead of `view_experiences`. You might have to change the corresponding `name` reference as well for clarity.

Original
`url(r'^public_experiences/?$', views.list_public_experiences, name='public_experiences'),`

Modified
`url(

[2021-07-26 14:25] anoura12 commented on #135
@jhlink Oh yes I understand what you mean. I just wanted to inquire that if I change it according to the modified version, I would also have to be changing the links of the `View Experiences` in other files that mention it as well right? Otherwise Django will throw a ReverseMatch error

[2021-07-26 14:28] anoura12 commented on #135
By name of url, you mean the one mentioned here right?
`url(r'^public_experiences/?$', views.list_public_experiences, name='public_experiences'),`

[2021-07-26 14:32] anoura12 commented on #135
Did you mean changing it like this?
![Screenshot from 2021-07-26 20-01-06](https://user-images.githubusercontent.com/73518403/127006474-71ae3a89-a625-4f81-b284-401c445c9056.png)

[2021-07-26 14:32] mridubhatnagar commented on #135
@anoura12 yes.
In the snippet you shared:
url name -> 'public_experiences'
url path -> r'^public_experiences/?$'

[2021-07-26 14:34] anoura12 commented on #135
Did you want me to change the code like in the screenshot I sent earlier then?

[2021-07-26 14:37] anoura12 commented on #135
Ah @mridubhatnagar, I see what you mean.
@jhlink Should I keep the name as public_experiences then?

[2021-07-26 14:39] mridubhatnagar commented on #135
I meant that if you change it in this manner then you won't have to make changes in all the html files. However, if you change the url name and url path both then in all the html files also you will have to change the url name.

According to me, changing both URL path and URL name would be a better choice to go ahead with.

[2021-07-26 14:40] anoura12 commented on #135
Yes agreed. It would be better. So should I be changing it for all files in this one issue?

[2021-07-26 14:42] mridubhatnagar commented on #135
Not sure what would be the right approach to do it.

I think once all the navigation-related pull requests get merged then in 1 PR this replacement thing can be done. As there are lot of html files using view experiences. And, html files with navigation related fixes are yet to be merged.

[2021-07-26 14:48] mridubhatnagar commented on #135
@anoura12 yes meant the same.

[2021-07-26 14:51] anoura12 commented on #135
Oh sorry yes, my bad

[2021-07-26 15:07] anoura12 commented on #134
@jhlink Just to clarify, the `Moderate Experiences` option will be available to only logged in users right?

[2021-07-27 10:40] #138 closed

[2021-07-29 10:24] GeorgiaHCA commented on #140
This is a fantastic issue @jhlink thanks for setting it out so clearly!

[2021-07-29 10:25] GeorgiaHCA commented on #140
Is it worth haaving these as separate issues for people to work on @jhlink ? And possibly link them to the roadmap @lottycoupat ?

[2021-07-29 10:28] GeorgiaHCA commented on #133
I agree @jhlink - instead of closing though I'm relabelling/moving this to Milestone 6 as it can be a further iteration. It's best to deploy the MVP first and we can collect more information about whether we need a separate about page and what would go in it via. user testing.

[2021-07-29 10:41] GeorgiaHCA commented on #133
<img width="584" alt="Screenshot 2021-07-29 at 11 39 23" src="https://user-images.githubusercontent.com/46889966/127478236-f1a6191f-2774-4724-b623-9532d5f90c55.png">

[2021-07-29 12:32] GeorgiaHCA commented on #1
@all-contributors bot please add @sowmya9507 for infrastructure, tests, and code

[2021-07-29 12:42] GeorgiaHCA commented on #33
Heya @lottycoupat - do you reeckon this issue is ready to close? I know you've done a lot of work on the Roadmap! :D

[2021-07-29 14:34] mridubhatnagar commented on #134
@jhlink @anoura12 I think there is a lot of confusion between files landing.html and home.html. Are these supposed to be two different files or we'll rename landing.html to home.html?

[2021-07-29 14:36] GeorgiaHCA commented on #134
Hiya @mridubhatnagar - I think for the MVP they should be identical apart from the home.html being modified for people who are signed in?

[2021-07-29 14:36] GeorgiaHCA commented on #134
The landing.html should be for people who are not signed in

[2021-07-29 14:54] mridubhatnagar commented on #134
hey @GeorgiaHCA, just wanted to confirm what do you mean by 'home.html being modified for people who are signed in'? Does it mean that people who are signed in when they click on Home we would be rendering home.html and for people who are not signed in when they click Home then we would render landing.html?

Also, I think in the current implementation. If the user is signed in or not signed in, in

[2021-07-29 14:56] GeorgiaHCA commented on #134
Yes, I agree @mridubhatnagar- in fact I think the only thing that would need to be changed for the MVP would be in the navigation options? What do you reckon @jhlink ?

[2021-07-29 15:02] mridubhatnagar commented on #134
Depends on which case what page do we plan to show the user.
IMO navigation options would remain the same as Landing cannot be a navigation option.
However, internally we can write the code in a way that signed-in users are redirected to home.html while not signed-in users are redirected to landing.html.

In case this functionality is what we need.

[2021-07-29 15:06] anoura12 commented on #134
I think what @jhlink meant is that by renaming landing.html to home.html, the file would be appropriately named as home page. The code structure for that page is almost same for logged in and non logged in users. So, having another file called landing.html isn't really required here I believe.

[2021-07-29 15:20] GeorgiaHCA commented on #134
We would need additional options for signed in users to navigate to their own page from the navigation bar to view the experiences they've submitted, and a sign out or switch account option instead of a sign in option - but I don't think the content of the home page would need to change other than the navigation bar.

[2021-07-29 15:20] lottycoupat commented on #33
@GeorgiaHCA Yes!!

[2021-07-29 15:20] #33 closed

[2021-07-29 15:21] GeorgiaHCA commented on #33
Fab @lottycoupat !

[2021-07-29 15:29] anoura12 commented on #134
@GeorgiaHCA Yes, I don't think it's explicitly mentioned in the task list but the sign in, sign out buttons are hidden and the navbar has additional items like moderate experiences, share experiences, my stories and logout visible only to logged in users.
Having a switch account option is a good feature to add into the site. Thanks for pointing that out!

[2021-07-30 17:05] jhlink commented on #140
@GeorgiaHCA , yes, for sure! I'm planning on spending some time soon to reconsolidate the milestone 3 tasks. Gotta hurry since milestone 2 is very close to completion!!

[2021-08-02 13:24] GeorgiaHCA commented on #133
Collated info is on this page: https://github.com/alan-turing-institute/AutisticaCitizenScience/issues/529

[2021-08-03 10:13] jhlink commented on #140
Note: Access control issue - moderation
![CleanShot 2021-08-03 at 06 13 03](https://user-images.githubusercontent.com/1872836/127999010-ab8863a2-ec4a-4371-94e7-65dc68e2d0d7.jpg)

[2021-08-03 10:14] GeorgiaHCA commented on #140
Thanks James!!

[2021-08-04 13:21] jhlink commented on #135
Reopening because I messed up the review/PR merge for #147

[2021-08-04 13:22] jhlink commented on #136
PR is complete. Closing.

[2021-08-04 13:22] #136 closed

[2021-08-04 13:24] jhlink commented on #139
PR is complete. Closing.

[2021-08-04 13:24] #139 closed

[2021-08-04 13:25] jhlink commented on #137
PR is complete. Closing.

[2021-08-04 13:25] #137 closed

[2021-08-04 13:29] jhlink commented on #134
PR is complete. Closing.

[2021-08-04 13:29] #134 closed

[2021-08-04 18:41] anoura12 opened #153 "Render a User's Personal Experiences in the `My Stories` Page"
### Summary

When a user creates a personal experience on the site, it should get displayed in the `My Stories` page. This is where a user can -
* See all submitted experiences in one page
* Delete any experiences
* Edit any experience

The current goal of this issue is to render those experiences from the Open Humans database to the my_stories page and ensure that the page has the above 3 functio

[2021-08-04 18:45] anoura12 commented on #153
@jhlink This is a rough scope of the My_Stories page for Milestone 3. Does this somewhat align to what your vision for the page is? What can I improve on this?

[2021-08-06 09:27] GeorgiaHCA opened #154 "Change the example text in the prototype"
### Summary

At the moment we have some example text in the prototype about dropping ice cream! It would be best, though to change this to something about autim and sensry processing.

### What needs to be done?

Replace the text. Something like this could work:

"Colour-coding on the floor of stations would make it easier for me"

[2021-08-06 09:27] GeorgiaHCA commented on #154
Heya @anoura12 - would you be able to do this?

[2021-08-06 09:44] mridubhatnagar commented on #154
@GeorgiaHCA I have already made this change in one of my PRs. We had removed the existing text and changed it to sample text.

[2021-08-06 09:45] GeorgiaHCA commented on #154
Amazing thanks @mridubhatnagar

[2021-08-06 09:52] mridubhatnagar commented on #154
@GeorgiaHCA sharing here the PR link for reference https://github.com/alan-turing-institute/AutSPACEs/pull/144
Also just wanted to confirm was this the page you were referring to?

[2021-08-06 09:57] GeorgiaHCA commented on #154
Yep, this is the page - thanks :)

[2021-08-08 16:01] mridubhatnagar commented on #140
@jhlink I am interested in working on the Django models issue. Also, is there a place where we have documented different user groups, experiences, and account questionnaires or does one need to figure this out on their own?

[2021-08-08 16:55] jhlink commented on #135
Closing due to merge in #151

[2021-08-08 16:55] #135 closed

[2021-08-08 16:56] jhlink commented on #119
All tagged issues are complete. Milestone #2 is complete at last.
Congrats to everyone!!

[2021-08-08 16:56] #119 closed

[2021-08-09 01:37] jhlink commented on #153
Great work @anoura12 !

Updating the list with a few changes.

[2021-08-09 02:01] jhlink commented on #153
Going to keep this pretty simple.
- View all experiences that a user has.
- Delete any experience
- Edit any experience
   -  Clicking `Edit` will direct the user to the `Share Experience` page, only it will say `Edit Experience`.

[2021-08-09 02:12] anoura12 commented on #153
@jhlink Great! This sounds good!

[2021-08-09 10:00] mridubhatnagar commented on #154
@GeorgiaHCA so I checked the pages again. Looks like we have made the text change on the moderate experiences page but the view experiences page still has ice-cream text. I am raising a new PR with changed text.

![Screenshot from 2021-08-09 15-28-39](https://user-images.githubusercontent.com/16894718/128689756-da0cf863-4fa7-4487-b778-d0ab697291db.png)

[2021-08-09 10:43] #154 closed

[2021-08-09 10:57] jhlink opened #156 "Implement Share Experiences page"
### Summary

The following user scenarios exist for the `Share Experiences` Page.
- Populate all text fields and select sharing permissions.
- Submit the experience for review
- See moderation review status

### What needs to be done?
**The page should only be viewed in the logged in state.**

### Tickets
- [x] #170
- [x] #171
- [ ] #172
- [x] #173

#### Archived
**Note**: Updating items to remove

[2021-08-09 11:23] mridubhatnagar commented on #156
Interested in solving this. 🙋

[2021-08-09 11:24] jhlink commented on #156
Go for it!

[2021-08-09 14:56] GeorgiaHCA commented on #29
I'm going to close this issue as it is now outdated

[2021-08-09 14:56] #29 closed

[2021-08-10 09:43] jhlink commented on #20
Cleaning up milestone 3 tickets. Moderation related tickets will be created shortly after all information has been aggregated.
Closing.

[2021-08-10 09:43] #20 closed

[2021-08-10 09:45] jhlink commented on #98
This should be a PR, not an issue ticket as all information seems to have been already completed.
Closing.

[2021-08-10 09:45] #98 closed

[2021-08-10 09:46] jhlink commented on #99
Tasks described here are captured in #156 . Closing.

[2021-08-10 09:46] #99 closed

[2021-08-10 09:48] jhlink commented on #100
Closing. Moderation implementation will need to be scoped, as it will involved Django's internal authentication system.
It seems promising and a much shorter put than creating a dedicated moderator sign-in.

[2021-08-10 09:48] #100 closed

[2021-08-10 09:50] jhlink commented on #101
This feature is out of scope for milestone 3. Per Kirstie's comment some meetings ago, for the MVP, user's can write their experiences in a separate document and submit them on AutSPACEs once completed.

Replacing milestone 3 tag for milestone 6.

[2021-08-10 09:51] jhlink commented on #102
This ticket is outdated. Closing.
A ticket describing the tasks needed for sign-in flow will follow.

[2021-08-10 09:51] #102 closed

[2021-08-10 09:54] jhlink commented on #106
The tasks mentioned in this ticket represent a subset of tasks for completing the View Experiences task.
Closing. A ticket including the complete set of tasks needed to implement View Experiences will follow.

[2021-08-10 09:54] #106 closed

[2021-08-10 09:56] jhlink commented on #129
Closing. The ticket describes scoping to complete rather than the tasks needed to implement the feature.

[2021-08-10 09:56] #129 closed

[2021-08-10 10:02] jhlink opened #157 "Implement View Experiences"
## Description
This ticket defines functionality and data to be shown when the user views public experiences.

The user scenarios are as follows:
- A user clicks the view experience page
- A user scrolls through the list of experiences on the page

## Definition of Done
- Approved, public experiences are shown on the `View Experiences` page for both non-logged-in and logged-in users.

### Tasks
-

[2021-08-10 10:51] jhlink opened #158 "Completing sign in flow"
## Description
This ticket describes steps needed to complete the sign-in flow.

The user scenarios are as follows:
- A user signs in on the AutSPACEs webpage
- After completing the sign in flow, a user is shown the `confirmation page`.

## Definition of Done
A user is able to sign in, through the OpenHumans portal, and upon login completion, the user is shown the confirmation navigation page.

##

[2021-08-11 06:45] anoura12 commented on #157
@jhlink can I take this up?

[2021-08-11 11:46] GeorgiaHCA commented on #157
Go for it @anoura12 ! I've assigned you the issue

[2021-08-19 10:22] lottycoupat commented on #1
@allcontributors add @mridubhatnagar for code and infrastructure

[2021-08-19 13:12] mridubhatnagar commented on #1
@lottycoupat, I thing the bot is @all-contributors instead of @allcontributors. :)

[2021-08-19 14:14] lottycoupat opened #159 "Fix allcontributors bot for AutSPACEs repo"
**Describe the bug**

Currently the contributor bot that adds users to our contributor list is not working on the AutSPACEs github repo.

For reference, it is working on our project management repository as you can see [here](https://github.com/alan-turing-institute/AutSPACEs/issues/329).

**Expected behaviour**

1. Go to issue alan-turing-institute/AutisticaCitizenScience#1
2. Comment "@allcontri

[2021-08-19 15:39] mridubhatnagar commented on #1
@all-contributors bot please add @mridubhatnagar to the contributor's list.

[2021-08-19 15:40] mridubhatnagar commented on #159
@lottycoupat just wanted to confirm if it is @allcontributors or @all-contributors?

[2021-08-19 15:43] GeorgiaHCA commented on #1
@all-contributors please add @mridubhatnagar for code and infrastructure

[2021-08-19 15:47] GeorgiaHCA commented on #1
still no response from the bot...

[2021-08-19 15:48] mridubhatnagar commented on #1
@GeorgiaHCA, yes. Should we re-configure?

[2021-08-19 15:55] GeorgiaHCA commented on #1
Good idea @mridubhatnagar !

[2021-08-19 15:57] mridubhatnagar commented on #1
Awesome, what I am not sure about is allcontributors bot to work on AutSpaces. It should be configured in the root repo that is alan-turing-institute or AutSpaces repo?

[2021-08-19 15:59] GeorgiaHCA commented on #1
Hmm I think the root repo is the AutSPACEs one - I originally added it to the repo when it was still owned by me and it transfered to The Turing one just fine

[2021-08-19 16:01] mridubhatnagar commented on #1
oh okay. Should I update the permission then? I hope nothing else breaks.

[2021-08-19 16:04] GeorgiaHCA commented on #1
Hmm good point - I'm not sure what do you reckon could break?

[2021-08-19 16:38] mridubhatnagar commented on #1
Yes makes sense. Nothing would break as such. Worst case scenario is seems to be the bot not working. I'll give it a shot.

[2021-08-19 16:39] GeorgiaHCA commented on #1
Thanks @mridubhatnagar 🤞

[2021-08-19 16:42] mridubhatnagar commented on #1
@all-contributors please add @mridubhatnagar for code and infrastructure

[2021-08-19 16:46] mridubhatnagar commented on #1
@GeorgiaHCA all-contributors app says the updation action must be performed by the organization owner.

[2021-08-23 14:15] skfantoni opened #266 "Autism Glossary"
## Summary

Deciding how to create the _Information Page_ glossary.

## Date Due by

Next Meet-Up Session

## Details

I think this is one of the next things we should complete. We need to present it to the group and then we can use it as guidance for deciding what terminology is and isn’t acceptable in regards to the CoC.

## Tasks and Decisions

* [ ] Where do we want to a accumulate information

[2021-08-24 09:56] jhlink opened #161 "Completing sign up flow"
## Description
This ticket describes steps needed to complete the sign-up flow.

The user scenarios are as follows:
- A user signs up through the AutSPACEs webpage
- A user is directed to the AutSPACEs sign-up flow
- After a user has signed up, direct the user to the account survey questionnaire.

## Definition of Done
A user is able to sign up through OpenHumans and direct the user to the account

[2021-08-24 10:29] jhlink opened #162 "Implement Moderation page"
## Description
When experiences are submitted for review, a moderator will need to review the submission for adherence to community conduct and so forth.

### Tasks
- [x] Populate a table of experiences, tagged with "review"
- [ ] Add an approve button that sets the moderation state of the experience to "Accepted/Approved/Public"
- [ ] Add a reject button that sets the moderation state of the expe

[2021-08-24 12:46] mridubhatnagar commented on #158
@jhlink, both the tasks mentioned in this issue are already implemented and functional in the current project. Sign in currently works like this only.

[2021-08-25 14:13] jhlink commented on #158
@mridubhatnagar , wonderful!! Thanks for pointing this out!!

----

Closing because task is already completed.

[2021-08-25 14:13] #158 closed

[2021-09-01 15:56] GeorgiaHCA commented on #140
Adding comment from @badgermind here:

Two issues came up during the developers co-working call this week:

(1) Are we keeping a record of the dialogue between users and moderators about specific posts (my view: yes) and who is it visible to (my view: that user and all moderators)? The may be a very small number of cases where a user is not happy about their post not being allowed and attempts to

[2021-09-06 10:01] GeorgiaHCA opened #265 "Design demographic collection"
## Summary

We need to design an inclusive and fine-grained sign-up process to collect information about users.

## Details

This requires sensitivity and nuance. It would be wonderful to co-create this based on best practices. We will probably create a version of this as an MVP based on recommendations from researchers, along with existing recommendations from the community - and iterate from the

[2021-09-06 15:54] lottycoupat opened #264 "Collect impact stories of the AutSPACEs project"
## Summary

This links to issues alan-turing-institute/AutSPACEs#268 where we want to present information about the project, including quotes from the impact stories.

These will also be stored in our repository [here](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/project-information/impact-stories) where people can read and find out more information on how they can

[2021-09-06 20:58] jhlink commented on #140
Presently, no. The only communication between moderator and user during the review process is the Experience review status. If you wanted to keep track of a discussion between the moderator and user, that's something that'll have to be added later.

So, if someone has deauthorized the AutSPACE account, what is the desired behavior? Eventually, we will take advantage of additional events that occur

[2021-09-07 01:00] jhlink opened #164 "Documentation Request: Handling Docker - Permission Denied for Ubuntu Users"
## Description
In the relevant documentation location, describe the post-installation docker instructions that must be followed for docker users.

Instruct new users to follow the steps in the [`Manage Docker as a non-root user` section](https://docs.docker.com/engine/install/linux-postinstall/), then reboot.

Ubuntu users must do this, otherwise they will experience permission denied errors when

[2021-09-07 01:04] jhlink opened #165 "Documentation Request: Add instructions on how to view Django Database"
## Description
After creating a django project, sometimes it's useful to see the tables, database, and any other information within the database itself.

In the relevant documentation section, add steps to inform users on how to view a postgresql database.

Gist
- Run `docker exec -it autspaces_db_1 bash`
- In the subsequent terminal, run `psql --username=autspaces`

ét voila!

For reference, [her

[2021-09-07 08:20] gedankenstuecke commented on #140
When a person deauthorizes a project on Open Humans this project immediately looses all access to the project data that is stored on Open Humans. Which is fine, as the user gets the option to keep or delete the data stored on Open Humans when doing the deauthorization step.

The hook is designed to give you a signal to remove user data stored in the AutSpaces database itself. How much data should

[2021-09-07 11:22] jhlink opened #166 "Add user role assignment via Django Admin"
## Description
User roles/permissions will be managed through the Django admin panel. An admin by default will be able to view, manipulate, and remove all data and users. However, the primary utility for feature will be assigning which users are moderators.

### Tasks
Users use their OpenHumans credentials to utilize the site.
- [x] Create a new or use the pre-existing users table, provided in the

[2021-09-08 11:17] lottycoupat opened #263 "NEED HELP: Providing feedback for the project"
## Summary

We are continuously looking to improve the project and getting a good idea of people's experience contributing to the project.

To do this we want to collect feedback from our contributors.

## Date Due by

21st September 2021 for first review and then ongoing.

## Suggestions for tasks that can fix this issue

If you would like to provide feedback, either comment on this issue answeri

[2021-09-20 19:04] SuziQpid commented on #166
This seems very straight forward. Congratulations. If l can get my head around this, most people will.

[2021-09-20 19:08] SuziQpid commented on #162
Suggest another button is added after rejection that might read ' further action required' ' contact user to request edit/ ' or some other variation

[2021-09-20 19:11] SuziQpid commented on #161
Also seems straightforward. Might be useful on sign in to warn a survey is part of the process and advise how many questions are in it. Some potential users may halt the sign in process if they think they don't have time to fill in a survey. Can they save first questions if they want to and return later.

[2021-09-20 19:13] SuziQpid commented on #159
Could it therefore be a syntax issue that's easily corrected. Apologies if l've used wrong term.

[2021-09-20 19:14] SuziQpid commented on #157
Sorry what's 'parse' through.

[2021-09-20 19:17] SuziQpid commented on #156
Suggest there's another label for seeing shared experiences status in line with my other suggestion that says ' rejected/moderator will advise on an edit' or similar wording.

[2021-09-20 19:19] SuziQpid commented on #153
Looks good

[2021-09-28 11:19] jhlink commented on #162
@SuziQpid , certainly. There are additional features/requirements to add from a user perspective if an experience is rejected, such as a change log or even some sort of reason for rejection. The moderation flow between moderators and users has yet to be hashed out fully, so for the time being, a `reject and try again` approach will be implemented for simplicity and progress sake.

[2021-09-28 11:24] jhlink commented on #161
@SuziQpid , this is definitely something we want to raise in milestone 4, when accessibility and overall design of the website is reviewed, discussed, and reworked.
Presently, there are only two questions that are asked when users sign up, but if they don't complete it and sign in later, they will not be given the questionnaire. This is probably a bug, but this will be clarified in milestone 4 aft

[2021-09-28 11:28] jhlink commented on #157
@SuziQpid , it means getting all the text in each file and processing it into to some useable form.
However, for this ticket, we assume that all experience data exists in the Django database. Although OpenHumans will possesses some data, the Django database will be the primary source of data.

Logic to send relevant research data to OpenHumans will be established a bit later in the current milesto

[2021-09-28 11:33] jhlink commented on #156
@SuziQpid , I'm not quite sure what you mean. That said, the moderation flow between moderators and users is not the finalized version. It's a starting point where we can add additional features as needed. Any additional design decisions would come from the community forums/meetings/calls and project stakeholders (i.e. Kirstie).

However, I'm open to removing features as needed, though I think the

[2021-09-28 11:37] lottycoupat opened #167 "Suggestion: Split large Milestone 3 tasks into smaller tasks to allow contributors to help complete these large tasks"
### Summary

Currently we have multiple large issues mapped out to complete Milestone 3:
- [ ] #161
- [x] #158
- [x] #157
- [x] #162
- [x] #156
- [x] Implement My Stories page (#153)
- [x] #166

It **_might_** make it simpler for contributors to complete these issues by splitting them into smaller issues.

This **_could_** help ensure momentum and understanding the wider end to end development pro

[2021-10-05 17:34] anoura12 opened #169 "Render only approved experiences in the View Experiences page"
### Summary

The goal of this issue is to render only the experiences approved by the moderators on the view experiences page.
This issue is part of  issue #157

### What needs to be done?

- [x]  Implement review status property for approved experiences
- [ ]  Add (uncomment) the filter for approved experiences in the list_public_experiences view

### Who can help?

The dev team.

[2021-10-05 17:35] anoura12 commented on #169
@jhlink Is there anything else to be added?

[2021-10-05 17:47] jhlink commented on #169
Nope, this is great!! Thanks @anoura12 !

[2021-10-06 16:30] GeorgiaHCA opened #262 "Collate community recommendations for platform design"
## Summary

There are a number of sources of feedback from the community about how they would like the platform design to be. This issue is to collect those sources together and add them to the newly created directory so that they can be incorporated into ongoing design work.

Sources of community input for design work are added in the comments below.

[2021-10-12 09:12] #71 closed, assigned to jhlink

[2021-10-12 09:32] jhlink opened #170 "Implement Share Experiences Page: Add Properties to PublicExperiences model"
## Description
Public Experiences must support additional data fields when displaying and storing experiences.

## Definition of Done
Add the following properties to the Public Experiences model, if they do not already exist.
- [x] Creation date
- [x] Unique ID
- [x] User ID
- [x] Experience Text
- [x] Suggestion Text
- [x] Sharing permissions, with values (public and research)
- [x] Moderation Re

[2021-10-12 09:37] jhlink opened #171 "Implement Share Experiences: Selecting Share Permissions"
## Description
Sharing permissions should be updated when users create new experiences to share.

## Definition of Done
- [x] User should be able to select one or both sharing options: `public` or `research`.
- [ ] Remove the `Save as draft` checkbox/feature
- [ ] Remove the `if you are autistic` checkbox/feature

[2021-10-12 09:42] jhlink opened #172 "Implement Share Experiences: Show Moderation Status"
## Description
The user must be able to view the review or moderation status on the Share Experiences page.

## Definition of Done
- [x] Pick an arbitrary location and show the `Moderation Review State` as a text label
  - [ ] When a new experience is just *created* or started, the status should initialize/show `Draft`
  - [ ] When the experience has been *shared* or *submitted*, the status should

[2021-10-12 09:47] jhlink opened #173 "Implement Share Experiences: Experiences are stored in Django Database on Submission"
## Description
After a user has populated all the data fields for a Public Experience, submitted experiences should be stored on the Django database while adhering to the following requirements.

## Definition of Done
When the user has clicked the `Submit` button on the Share Experiences page...
- [x] `Creation Date` should be set to today's date
- [x] `Unique ID` field should be populated with a

[2021-10-14 10:32] GeorgiaHCA opened #175 "Run a design sprint"
### Summary

Let's run a design sprint so that we can:

- [ ] Share our work
- [ ] Kickstart the next design phase
- [ ] Make the design work consistent going forwards

### Deadline

Dseign sprint will be on Tuesday 19th October from 10am - 12am: all welcome!

[2021-10-18 14:39] soledadli opened #176 "Toggler View for Navbar"
## Description
This task defines navigation bar design on the website.

A toggler view for navigation bar can help users view the contents when using different platforms.

## To Do
- [ ] Decides one consistent design for the navbar (Moderator & MyStories & Login Confirmation views are quite different than others)
- [ ]  Add Toggler View for all

[2021-10-19 09:53] GeorgiaHCA opened #177 "Identify Pain Points"
### Summary

This issue is to identify pain points in the MVP of the platform, so that the basic design can be improved.

### What needs to be done?

Comment below with a description of the pain point and the page it occurs

[2021-10-19 10:00] GeorgiaHCA opened #178 "Design decisions which need to be made to create design system"
### Summary

This issue lists all the design decisions which need to be made for making the platform consistent

### What needs to be done?

Comment below with design decisions which need to be made and aspects which need to be made consistent for a consistent design system

We are putting together the Design System here: https://docs.google.com/presentation/d/1XipXsoZ__C6mLc4ucgPwtbyDUoaolxk7S4Ak

[2021-10-19 10:14] GeorgiaHCA commented on #177
Homepage:
* too much text? make sure it is all relevant
* clear icons too go with the text
* text too small - should be a lot bigger
* colours are strange
* too much spacing
* too boxy

[2021-10-19 10:28] GeorgiaHCA commented on #177
Explore experiences:
* Whole box design needs rethinking:
* Lots of uneccesary boxes
* Green and red boxes not clear
* not well aligned
* not clear
* colours much too bright - should be simplified

[2021-10-19 11:03] GeorgiaHCA commented on #175
Notes from the design sprint are here: https://hackmd.io/i4_dOZj5SOKYeAjjddeiqg

[2021-10-19 11:06] GeorgiaHCA opened #179 "Feature request: Include an explanatory video on the homepage"

[2021-10-19 11:07] GeorgiaHCA opened #180 "Feature requset: filters"
### Summary

Introduce functionality to filter by date or filter by autism connection for the explore experiences page

[2021-10-19 11:08] GeorgiaHCA opened #181 "Allow stories to be shared between moderators"
### Summary

Introduce ability to ask for a second opinion?/refer story to another moderator

[2021-10-19 11:10] GeorgiaHCA opened #182 "Notify users about why their post has been declined"
### Summary

Simple version: If a post is declined, send an automated message saying it has declined because it goes against the code of conduct, and refer user to code of conduct
Other option: allow (or reequire) moderator to specify which part of the code of conduct has been contravened

[2021-10-19 11:14] GeorgiaHCA opened #183 "Collect inspiration for design of the platform"
### Summary

This issue is to collect design inspiration for the platform.

### What needs to be done?

Post links to any sites which could be useful for inspiring the design of the AutSPACEs platform in the comments below.

[2021-10-19 11:37] soledadli opened #184 "Solidifying Bootstrap Version"
### Summary
Solidifying Bootstrap Version

### What needs to be done?
- [x] Choosing one [Bootstrap version (4.0)](https://getbootstrap.com/docs/4.0/getting-started/introduction/) and update it to all
- [x] Fix bugs related with version update (Navigation Bar & Logo Replace)
- [x] #176
- [x] Fix fonts for html: Primary font is [Open Sans](https://fonts.google.com/specimen/Open+Sans?query=open+sans

[2021-10-20 09:14] GeorgiaHCA commented on #175
[Design dreamboard](https://docs.google.com/presentation/d/1G45ryz1GtEjZE3qUWz7BLb6Y8iS1djJwy8qdXLKwTG8/edit#slide=id.p)

[2021-10-25 00:40] #157 closed

[2021-10-25 00:42] #171 closed

[2021-10-27 14:18] KirstieJane opened #188 "Add design decision for location of css information to developer documentation"
### Summary

At the moment all the css is in the html files. This feels very repetitive and difficult to scale. Should we be pulling css from specific style files? If not, why not 😄

### Deadline

No deadline, this is a developer style decision.

### What needs to be done?

- [ ] Infrastructure team to discuss at a meeting (or in this issue)
- [ ] Decision added to developer contributing guideline

[2021-11-01 07:42] soledadli opened #200 "Collect decisions for design system of the platform"
### Summary
The issue is to collect decisions for design system of the platform.
For design systems, we are focusing on the following perspectives
* Typography
* Colour palette (primary and secondary)
  * Accessible option with transparency/saturation
* Grid/Spacing/Padding
* Components
  * Buttons
  * Components
  * Toggles
  * Menus
  * Forms
  * Tables

### Deadline
Before A/B testing on Nov. 1

[2021-11-01 07:47] soledadli commented on #200
Here is the [documentation](https://docs.google.com/presentation/d/1SCBVKfA6l2OlOuFOR2xKyU9804OpHr1DCq607bMJ2P8/edit?usp=sharing) for the design system.

[2021-11-01 08:01] soledadli commented on #200
Here is the [resource document](https://hackmd.io/25eOYHB6TkGHdCJp8-JtXA) for the design system.

[2021-11-01 10:37] BrainonSilicon opened #261 "User Experience"
# Summary

The "user experience" of the platform covers everything from the aesthetic (the look) to the usability and functionality of the platform. It's really important to follow a process that has the user's needs first in order to develop a platform that's accessible.

As designers, we have tounderstand what a user, or a group of users (aka. persona) needs in order to achieve their goal (aka.

[2021-11-16 10:26] GeorgiaHCA opened #202 "Use icons/diagrams as explanatory tools"
### Summary

Many autistic people (and others) prefer icons and diagrams to text, or like text to be accompanied by icons and diagrams to make it clearer. This issue is to find/design/integrate icons and diagrams into the AutSPACEs platform.

### Deadline

### What needs to be done

- [ ] Determine where on the platform icons or diagrams would enhance the user experience
- [ ] Design the diagrams

[2021-11-16 10:55] GeorgiaHCA opened #203 "Clarify data management process"
### Summary

We need to clarify what happens with the "research" data

* Will it be able to be downloadable
* How will the permission process work?
* What is the extent of dynamic consent which is possible - how can we explain this clearly?

[2021-11-16 19:56] GeorgiaHCA opened #260 "Add supporting documentation to moderation folder"
## Summary

Add README, resources and suppotnig documents to "moderation" folder in communtiy-recommendations

* README with explanation of data and process
* moderation decisions rationale
* review guidelines

[2021-11-22 10:14] soledadli opened #259 "Define procedures for moderation workflow"
## Summary

This issue aims at:
* collecting feedback on moderation flow
* defining procedures for moderation workflow so that we can mock a detailed wireframe for moderators.

Please comment on this issue all questions you think will need to be discussed for the moderation workflow to be created successfully.

## Details

**Questions** (Discussed & Solved)
* How many moderators’ approval need to

[2021-11-24 16:53] Chandresh726 commented on #133
I would like to work on this issue

[2021-11-25 04:31] akshathirani commented on #172
@jhlink i would like to work on this issue

[2021-11-26 09:40] akshathirani commented on #172
@jhlink, in share experience page after submission,the page redirects to confirm page ,so after submission is it possible to display status as "In Review" on share experience page . as the page has redirected to confirm page or success page

[2021-11-27 00:32] skfantoni opened #258 "AutSPACEs Support Page"
### Details

We've agreed we want to offer contacts to users who may need additional support that we cannot offer. In our Moderation co-working meeting on Tuesday 23rd November, we agreed that until it's more evident what our users need, sticking to the 'basics' makes the most sense.

### List of organisations to include:

- National Autistic Society (NAS)
- MENCAP
- Scope
- Mind
- Samaritans

###

[2021-11-30 11:03] jhlink commented on #172
I'm not sure if I'm understanding you, @akshathirani .

If you're on the confirmation page, you are no longer on the share experience page. Therefore, there is no label or display status to update. That said, I can understand where the confusion might be, and I've clarified the description.

Let me know if you have additional questions!

[2021-11-30 12:17] anoura12 commented on #166
@jhlink would the modboss/reviewer role be added to this issue as well or will that be a separate issue altogether?

[2021-12-08 09:29] soledadli commented on #183
[Autism Society](https://autismsociety.org/) has implemented `assistive tools` on their platform, like `decreasing fonts`, `grayscale`, and `light background`.

[2021-12-08 11:20] jhlink commented on #166
@anoura12 , please create a separate issue for this.

[2021-12-09 09:04] soledadli commented on #183
Thanks to Laura's paper-sharing on the lab notes. I found the [dyslexia mode](https://policyreview.info/articles/analysis/prescripted-living-gender-stereotypes-and-data-based-surveillance-uk-welfare-state)  on the website looks grand!

[2021-12-09 18:40] anoura12 opened #204 "Add Reviewer role via Django Admin"
### Summary
The goal of this issue is to create a reviewer role/permissions through Django admin. The reviewer would be reviewing ambiguous experiences and take decisions for user requests to revisit their experiences.

### What needs to be done?

- [ ] Create a Reviewer status
- [ ] Allow admin to set a moderator as a reviewer

### Who can help?

The dev team.

[2021-12-09 18:41] anoura12 commented on #204
@jhlink Could you add the rest of the tasks to this task list?

[2021-12-15 09:49] soledadli opened #205 "Implement What Autism Is Page"
## Summary

Viewers can find more information about autism and sensory processing on this page.

## What needs to be done?

- [x] Decide information be put on the page
- [x] Add a **view experiences** button which leads to `View Experiences` page
- [x] Add an **about us** button which leads to `About Us` page

[2021-12-15 09:52] soledadli opened #206 "Implement About Us Page"
### Summary

Viewers can find information about the project, the team, and the community on this page.

### What needs to be done?

- [x] Decide information to be put on the page
- [x] Add a **join us** button that leads to the slack channel
- [x] Add a **google form link** to contact us

[2022-01-04 08:48] soledadli opened #207 "Implement the new Homepage"
### Summary
**Re-implemented the Homepage based on the following wireframe**
![image](https://user-images.githubusercontent.com/67457005/148031901-a234b415-09ad-45dd-9699-67ced67b3f8c.png)

### Deadline
Ongoing

### What needs to be done?

- [ ] responsive viewing for phone (width: 425px)
- [ ] responsive viewing for tablet (width: 768px)
- Confirm  the contents on the page
- Confirm the final des

[2022-01-04 09:15] soledadli opened #208 "Web Pages Log"
## Summary
This issue documents the web pages that have been discussed with the community members and are suggesteded to be implemented on the AutSPACEs platform.

## Wepages
### Homepage
* Use **register** instead of **sign up** for clarity
* Put **search function** in`View Experiences` page instead of the homepage
* Keep short sentence on **Sensory Processing** in **What Autism is** section

###

[2022-01-04 09:21] soledadli commented on #208
Do we need one **separate page** for "register account" instructions so that we can explain the workflow more clearly?
Do we keep the "register account" instruction in detail on the **About Us** page when viewers first register their accounts?

[2022-01-04 10:33] GeorgiaHCA opened #209 "Write copy for MVP platform"
### Summary

@soledadli has created a version of the homepage using a design co-created by @BrainonSilicon

Seee #208 and issuee #207

This issue is to create improved written content and additional written content for the design

### What needs to be done?

- [x] Content for “How to Use the Platform”
- [x] Content for “About Autism” sensory processing, and what the project is
- [x] Content for “H

[2022-01-04 11:53] GeorgiaHCA opened #210 "Create a test deployment for the AutSPACEs platform"
### Summary

@badgermind will use a personal server to deploy a test version of the site for everyone to be able to look at and share ideas. This will be semi-public for now to help collaboratively design the platform. The deployed version can be changed so people can see different designs and compare easily to gather feedback.

We could then consider circulating it more widely to gather more feed

[2022-01-04 16:13] GeorgiaHCA commented on #209
I am working on the text here: https://hackmd.io/Sq9w4gwVQKSjmZvoXf8sSQ

[2022-01-04 16:17] GeorgiaHCA commented on #209
(R T d) show videos of people contributing in different ways and maybe for different reasons on the about page – “I’m imagining a vignette…of three different people…who take part for different reasons, with the idea that you should totally see some aspect of yourself across those three”)
Include lots of useful information
 * Up-to-date with current research and proposals
* Info about individuals i

[2022-01-04 16:18] GeorgiaHCA commented on #209
Some recommendations from the community for written content

[2022-01-06 08:20] soledadli commented on #188
@jhlink Hi James. I am working on refactoring the CSS codes recently. Is there a folder where I should put the CSS codes inside? Should I put the CSS files in the `Static folder` with the image folder together? Thanks for the help!

[2022-01-10 15:53] soledadli commented on #188
I have put the CSS files in '/static/css/' folder and am working on this branch: https://github.com/alan-turing-institute/AutSPACEs/tree/build-tmp to create templates and refactoring the codes on front-end.

[2022-01-10 15:57] GeorgiaHCA commented on #209
I've done a first version based on our discussions in the dev session, and following the community recommendations from the focus groups @JamesSCTJ if you could give it a look that would be great! It will obviously go through a lot more community co-working before the final version :)

[2022-01-11 11:02] soledadli opened #211 "Feature request: Calm Viewing Mode"
### Summary

Introduce functionality to choose a calm viewing mode while browsing the AutSPACEs platform

### Resources:
[Djanto Theme Swap Tutorial](https://www.youtube.com/watch?v=dOIU773P1iw&list=PL-51WBLyFTg2zfRmcHpJvY4wEfh8EKivh&index=10)

[2022-01-11 13:50] soledadli opened #212 "Sign Up Page"
## Summary

The current **Sign Up page** is not connected to the platform. Are we going to keep this page? If so, is there something else we want to include in the **sign-up process**?

![Screenshot 2022-01-11 at 11 02 14](https://user-images.githubusercontent.com/67457005/148954657-6fe9bf0e-7405-4267-9d96-fe5fb14e2a61.png)

@KirstieJane @GeorgiaHCA @BrainonSilicon

## Related Issues
* https://git

[2022-01-11 13:54] GeorgiaHCA commented on #212
Thanks @soledadli ! I do think it is important to collect this information. We will need it to understand the experiences. I think we have two options, to collect the info when the user signs in or when they submit the story.

[2022-01-11 13:55] GeorgiaHCA commented on #212
The former is much simpler for the user, the latter has some more flexibility especially if we are collecting other, optional demographic info which users might wish to share for some stories but not others.

[2022-01-11 13:56] GeorgiaHCA commented on #212
I would recommend for the platform we deploy we should keep it simple and use a redesigned version of this page to test. Could it be supported in the backend trough adding an additional tag to the json file?

[2022-01-11 13:58] GeorgiaHCA commented on #212
This also links to this issue: https://github.com/alan-turing-institute/AutisticaCitizenScience/issues/547. It will need furter consieration but maybe for a later version of the platform

[2022-01-12 10:02] soledadli commented on #212
@GeorgiaHCA I will work on the re-design and include a simpler frontend form on the current platform for testing now.  For the backend set-up, I think it is definitely possible and we can bring it up to the meet-up tomorrow. 😄

[2022-01-13 12:57] GeorgiaHCA commented on #209
Susanna - I would really appreciate your advice on this basic MVP copy too. Just a very simple version which we can add to the design Soledad made, and Robin will deploy - expecting to do lots of iterations and more detail before the launch and widespread!

[2022-01-17 09:09] soledadli commented on #207
## Color Palette:
* Perhaps don’t put red as the first colour people see - it can be an alarming colour and the ordering of the colours have no real order.
## Contents
* Homepage: Quote is good, but “senses” is a limiting word. More the environment, people may not consider spatial environments etc as a sense.
## Section Order
* Order could be rejigged, perhaps put stories and how to use nearer to

[2022-01-18 09:26] soledadli commented on #207
Updated! Thanks for the feedback @amol-prabhu 😄

[2022-01-18 09:37] soledadli commented on #207
## Color Palette:
* Perhaps don’t put red as the first colour people see - it can be an alarming colour and the ordering of the colours have no real order.
## Contents
* Homepage: Quote is good, but “senses” is a limiting word. More the environment, people may not consider spatial environments etc as a sense.
## Section Order
* Order could be rejigged, perhaps put stories and how to use nearer to

[2022-01-18 11:56] GeorgiaHCA opened #257 "Present code of conduct and moderation guide"
## Summary

We want to present the finished code of conduct and guidelines on presenting on behalf of others to the community at the next meet-up session

## Date Due by

Thursday 27th January

## Details

This is to collect precise feedback on the code of conduct and guidelines

## Who can help

James, Georgia, and Susanna

[2022-01-18 12:02] GeorgiaHCA opened #256 "Gather information for moderation paper"
## Summary

Over the course of co-creating the code of conduct we have encountered a huge amount of nuance and a lot of thought has gone into it. We want to capture the thinking and insights from the work in a research paper. The first stage is to collect together the pieces of work, source materials and notes, and makee sure we keep a record as we continue to develop the work.

[2022-01-25 13:15] soledadli commented on #200
The Autism Society has really great accessibility tools. https://autismsociety.org/

[2022-01-31 14:21] GeorgiaHCA opened #255 "Update google forms data"

[2022-02-01 13:57] soledadli opened #213 "Feedback on current platform prototype"
### Summary
Feedback on current platform prototype
* If you have Docker installed, you can run the platform locally with the branch: [build-tmp](https://github.com/alan-turing-institute/AutSPACEs/tree/build-tmp).
* If you cannot run the platform locally, here are the screenshots I took for the current platform.
 * Homepage

A new design has been implemented on the platform. Please feel free to sha

[2022-02-01 13:57] soledadli commented on #213
# Homepage:
![AutSPACEs Landing Page (1)](https://user-images.githubusercontent.com/67457005/151981630-81f1d116-587b-4048-a396-f975271f2931.png)

[2022-02-01 14:06] soledadli commented on #213
# View Stories
![View Stories](https://user-images.githubusercontent.com/67457005/151982151-a33b185f-64ec-45e4-a3ca-1bab587c2c02.png)

[2022-02-01 14:07] soledadli commented on #213
# About Us
![AutSPACEs About Us Page](https://user-images.githubusercontent.com/67457005/151983150-67edce21-f9d1-4cbc-ac6f-3d7fe365ed00.png)
![AutSPACEs About Us Page (1)](https://user-images.githubusercontent.com/67457005/151983121-9a6a3389-4fbe-44a8-abcf-e4a5b25dd2e8.png)

[2022-02-01 14:07] #205 closed

[2022-02-02 12:27] GeorgiaHCA opened #254 "Add additional newsletters to the newsletters page of GitHub"
## Summary

We are missing October, November and January, and we are also missing a README which links out beyond July last year.

[2022-02-02 12:30] GeorgiaHCA opened #253 "Write data paper"
## Summary

We have lots of openly published data which could be useful to other researchers and they should be made aware. We will publiish a data paper so that it is effectively disseminated to the research community.

[2022-02-02 12:59] GeorgiaHCA commented on #209
This should probably be moved from an issue into a sensible part of the repo?

[2022-02-02 13:04] BrainonSilicon commented on #209
I would pop it in the ‘platform-designs’ folder inside a content based
directory.

Ideally all design type work will land in there so that we can build a
overall summary brief that can be updated as various parts of the platform
get built.

On Wed, 2 Feb 2022 at 13:00 Georgia ***@***.***> wrote:

--
Sophia Batchelor
Post Graduate Researcher
University of Leeds, UK
***@***.*** | www.brainonsilicon.

[2022-02-03 15:11] soledadli commented on #210
I will add the banner per page then.

[2022-02-03 15:18] soledadli commented on #210
@badgermind Let me know if you need help with the deployment. I'd love to contribute to the front-end part. 🎆

[2022-02-03 15:56] badgermind commented on #210
@KirstieJane I'm also planning to restrict login to members of the wider team, defined initially as those who come to the Thursday meetups, and implemented by filtering on email address.

[2022-02-03 15:58] badgermind commented on #210
@soledadli it's your front-end code I'm planning to deploy :)

[2022-02-10 13:55] GeorgiaHCA commented on #213
Thanks @SuziQpid

[2022-02-11 14:01] SuziQpid commented on #213
In both the opening page of the repository and the platform page describing AutSpaces the phrase ' collect together ' is used. It's clunky. Better to use ' collate' or simply leave it as ' collect'.

[2022-02-11 14:17] SuziQpid commented on #213
I support Susannas comments about the colour choices at the top of the landing/ log in page. You need the main heading underneath the first menu bar to be a non blue shade. It doesn't offer a good enough contrast to the turquoise / green tone of the menu bar. Wasn't there a stronger lilac/ purple tone or a strong silver that could be used.

[2022-02-11 14:25] SuziQpid commented on #213
Dear Georgina,

There’s a difference between the goals mentioned on the welcome page of the repository and the landing / login area of the platform. There are four on the welcome page and three on the landing page.

The extra one comes from the aspiration to collect the stories.

Also the  goal order is different. The order is better on the landing page and l think you should add the fourth one of

[2022-02-22 13:01] GeorgiaHCA commented on #212
Hiya @soledadli a few comments on this before we implement it

[2022-02-22 13:02] GeorgiaHCA commented on #212
Apart from "Autism researcher"

[2022-02-22 13:03] GeorgiaHCA commented on #212
"Medical professional, carer or social worker" instead of "Healthcare/medical worker for autistic person"

[2022-02-22 13:05] GeorgiaHCA commented on #212
We should also allow people to say if they are autistic or not and whether they have a diagnosis or not separately as not all autistic people have a diagnosis (and not everyone diagnosed agrees with the diagnosis)

[2022-02-22 13:07] GeorgiaHCA commented on #212
Final comment is there are a lot of potential additional pieces of information we may wish to collect, for instance to monitor gender and ethnic diversity, socio-economic etc., as well as co-occuring conditions. This is a next iteration probably though.

[2022-02-22 15:38] BrainonSilicon opened #252 "Adding invitations for feedback to Moderation pages"
## Summary

We want to make it clear that moderation processes are an ongoing conversation and therefore make it clear that feedback and reccomendations are welcome.

## Details

There are 2 main items that need to be done, each with 1 subtask:

- [ ] Adding a sentence at the bottom of the moderation folder information that says, "This is an initial process for moderating the platform which we wil

[2022-02-22 16:40] BrainonSilicon opened #251 "Update design-system README"
## Summary

The design-system folder is home to the resources and information about the overall style and design of the platform. The README is a description of what the folder contains and needs to be updated to reflect the recent files that have been added.

## Details

* Some preliminary information has been added to the folder in a file titled 'design-code-20220222.md`. The README needs to be

[2022-02-23 10:33] #206 closed

[2022-02-23 10:34] #207 closed

[2022-02-23 13:36] soledadli opened #215 "Create a Google form for harmful reports"
### Summary
As being discussed at the meet-up, we will use Google Form to collect harmful reports to lift the workload on the backend side. Here is the link to the documentation of the [moderation workflow](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/Moderation/strategy-process-moderation) .

### What needs to be done?

- [ ] decide information to be collected
- [

[2022-02-23 13:43] soledadli opened #216 "Create a google form to contact moderators"
### Summary
As being discussed at the meet-up, we will use Google Form to contact moderators to lift the workload on the backend side. The contact moderators form aims at allowing users to ask for reasons if they are unsure about the rejection reasons.
Here is the link to the documentation of the [moderation workflow](https://github.com/alan-turing-institute/AutisticaCitizenScience/tree/master/Mod

[2022-02-24 13:49] soledadli opened #218 "Future Steps for the AutSPACEs (Frontend, Backend, Test)"
## Frontend
* Refactor the code
* Separate the current codes into components for easy maintenance
* Add responsive design for mobile and table viewing
    * testing across different browsers
* Implement `Question` section on the `Registration` page after being redirected from the OpenHumans
* Implement `Moderate Stories` page
* Update links across the platform (`Share Stories`, `Moderate Stories`,

[2022-03-02 09:25] soledadli commented on #183
The Outreachy application form reminded me of the 'Share Stories' page for our platform.  I think it will be a good case to refer to for the design and the questions of the AutSPACEs.
![outreach-ux](https://user-images.githubusercontent.com/67457005/156332973-9bcc35aa-5a27-4a67-aa54-ab86e9284ef3.png)

[2022-03-10 12:53] GeorgiaHCA opened #250 "Create accessible version of guidelines for moderators"
## Summary

It would be great to put together an onboarding pack for moderators for the AutSPACEs platform. It could be educational and provide support. One option might be to use Netlify, or it could be a pdf or powerpoint. Would be great to have something in a fun accessible format, with pics and diagrams

## Details

I rekcon the onboarding pack should contain:

* A welcome and thank you
* Our

[2022-03-10 13:24] GeorgiaHCA opened #249 "Write a "What to Expect" when you moderate section"
## Summary

Prepare moderators for the worst case scenario, and make sure they have support.

[2022-04-05 14:23] GeorgiaHCA opened #248 "Useful resource for organising inclusive events"

[2022-04-26 12:53] GeorgiaHCA opened #247 "Choose a journal for submission of Paper 1 for publication"
## Summary

Journal should be open, and fitted to the values of the AutSPACEs research, as well as having appropriate scope and aims.

## Details

Some potential options to consider are:

[Citizen Science: Theory and practice](https://theoryandpractice.citizenscienceassociation.org/)
[Patterns](https://www.sciencedirect.com/journal/patterns/about/aims-and-scope)
[Journal of Participatory Research

[2022-04-26 12:54] GeorgiaHCA opened #246 "Write some potential abstracts to guide targetted version of paper 1"

[2022-04-26 12:56] GeorgiaHCA opened #245 "Write a targetted version of Paper 1"
## Summary

Once a journal has been selected, write a draft of the methods paper which is targetted to the journal

[2022-04-26 13:02] GeorgiaHCA opened #219 "Typo in "Sensory Processing" Section of the platform."
There are a couple of typos in the "sensory processing" section of the AutSPACEs platform:

- In second paragraph: "we are moving it" should be "*how* we are moving it"
- In final paragraph: "Sometimes this can cause extra challenges and create barriers for autistic peeople compared to non-existent" - non-existent should be "noon-autistic"
-   "Find out more in Autistica" and "Find out more in Nat

[2022-05-13 10:16] GeorgiaHCA opened #244 "Moderation workshop 2"
## Summary

Now we have done a lot of work to put together a code of conduct, user flow, and guidelines it would be good to arrange a workshop/focus group to review our progress and kickstart the next stage.

## Details

We need to think about who to invite/include - but potentially people from the policy team at The Turing who have been working similar stuff, along with previous AutSPACEs partici

[2022-05-16 13:26] GeorgiaHCA opened #220 "Add moderator guidelines and code of conduct"
### Summary

It would be good to add moderator guidelines and the code of conduct to the platform.
They currently exist in the project management folder in a basic markdown file: https://github.com/alan-turing-institute/AutisticaCitizenScience/blob/master/Moderation/moderator-guidelines.md. A simple page which follows the design of the rest of the platform would be perfect!

### What needs to be d

[2022-05-16 13:27] GeorgiaHCA commented on #220
Additional steps would be to have a pop-up or reminder for people who are writing about others so they know to use the specific guidelines

[2022-05-17 10:49] GeorgiaHCA opened #221 ""How to start website" is not up-to-date"
### Summary

Include a link to deployed website and make it clear it can be accessed this way

[2022-05-17 10:51] GeorgiaHCA opened #222 "Delete unused folders"
### Summary

The 'platform code' folders do not currently include any code - the code is elsewhere in the 'index' file. Empty folders need to be deleted or filled as they're confusing!

[2022-05-17 10:52] GeorgiaHCA opened #223 "Merge most recent branch into main"
### Summary

Soledad did lots of work which Robin has been deploying. It would be a good time now to merge this into main so everyone can work from the same version

[2022-05-17 10:53] GeorgiaHCA opened #224 "Point people to 'server'"
### Summary

A lot of the code is held in the "server" folder in the GitHub repo - point people to the "server" folder in a README

[2022-05-17 10:54] GeorgiaHCA opened #225 "Clarify AutSPACEs/docs"
### Summary

Clarfy AutSPACEs/docs - add a README to this folder to say how it works? Could be where the documentation is actually gonig to be built - copied and pasted template from Sphinx (not doing anything at the moment - maybe add a readme note just to say this is currently only a template and is not useful for the actual platform); "This is just a template from Sphinx, not actual documentati

[2022-05-17 10:55] GeorgiaHCA opened #226 "Roadmap not current"
### Summary

Roadmaps have been kept as issues - suggestion: delete .md file and add a comment in the README - to see our roadmap look at this issue

[2022-05-17 10:56] GeorgiaHCA opened #227 "Project management folder not in use"
### Summary

Either delete or use this folder

[2022-05-17 10:58] GeorgiaHCA opened #228 "Combine overlapping documentation"
### Summary

"Get started folder" and dev_readme may have a lot of overlap. Potentially combine these  - link to them in the main README (or add them into the main README); Delete dev README and link to "get started" README

[2022-05-18 15:46] GeorgiaHCA opened #243 "Renew ethics approval"
## Summary

We currenly have ethics approval from the university of Cambridge - we need to renew it for the Turing and for the stage of the project we've now reached so we can move forwards.

Working on a draft here: https://docs.google.com/document/d/1dcLCM9Q9qGJRntIrQx4TbAQ8dqeA9rOZCtEqvINPZyU/edit?usp=sharing

 A template Google Forms is here: https://docs.google.com/forms/d/1A9WDJWl7MurySUA0-u

[2022-05-18 15:51] GeorgiaHCA opened #242 "Update roadmap"
## Summary

Create an updated roadmap linked to issues and milestones which reflects the current stage and future plans of AutSPACEs and which can help guide new starters and open source contributors

## Date Due by

1st September 2022

[2022-05-18 15:53] GeorgiaHCA opened #241 "Plan out next stages of community management strategy"
## Summary

We will need to specify this for our ethics submission and we it makes sense to prep this in advance so we can be ready to engage people when the platform development starts up again.

## Date Due by

1st September 2022

[2022-05-18 15:56] GeorgiaHCA opened #240 "Create test versions of remaining front end pages"
## Summary

While most of the platform has been deployed there are still pages that need to be created. This issue is not to build those pages but to design them and have them available for testing.

## Date Due by

1st September 2022

## Details

Pages we are missing on the deployed platform

* Enter experience page
* Sign up demographic info collection page

[2022-06-07 12:51] #184 closed

[2022-06-10 09:24] GeorgiaHCA opened #239 "How do we make GitHub more accessible?"
### Discussed in https://github.com/alan-turing-institute/AutisticaCitizenScience/discussions/667

<div type='discussions-op-text'>

<sup>Originally posted by **GeorgiaHCA** June 10, 2022</sup>
GitHub is great for open source developers, but how do we make it more accessible to a wider community? </div>

[2022-06-21 13:08] #222 closed

[2022-08-16 13:58] GeorgiaHCA opened #238 "Map out existing files to new repo structure"
I've created an excel table to map out the new repo structure to existing files on both repos: https://thealanturininstitute-my.sharepoint.com/:x:/g/personal/gaitkenhead_turing_ac_uk/EbjW3Llz1YhFkrjU-USjSCoBcmqokPYnWWhUFRcLo54Y5A?e=kozsPl

Take a look when you're ready @BrainonSilicon

HackMD here: https://hackmd.io/5h3WMC3kT1u_nVKLPURTKw

Due by 31st August

[2022-08-17 15:04] GeorgiaHCA opened #230 "Map new repo structure to existing files"
I've created an excel table to map out the new repo structure to existing files on both repos:

https://thealanturininstitute-my.sharepoint.com/:x:/g/personal/gaitkenhead_turing_ac_uk/EbjW3Llz1YhFkrjU-USjSCoBcmqokPYnWWhUFRcLo54Y5A?e=kozsPl

Take a look when you're ready @BrainonSilicon, @Islast

HackMD here: https://hackmd.io/5h3WMC3kT1u_nVKLPURTKw

Due by 31st August

[2022-08-17 15:05] GeorgiaHCA commented on #230
There are a whole lot of technical files in different places on the AutSPACEs repo I'm not sure how to map or organise

[2022-08-17 15:06] GeorgiaHCA commented on #230
I think this will probably be a substantial piece of work as we will need to update all the links as we go and a lot needs updating. But it will be great to have a new, neat and well organised repo, not just for ongoing co-working but for posterity!

[2022-08-31 14:30] GeorgiaHCA opened #237 "Strategic review of onboarding folder"
## Summary

Make sure onboarding folder is up-to-date and relevant. Delete duplicate or un-needed files.

[2022-09-16 13:29] GeorgiaHCA opened #236 "AutSPACEs Data Management"

[2022-09-27 12:40] malvikasharan opened #232 "[IDEA] A suggestion to merge AutisticaCitizenScience content into AutSPACEs"
## Summary

Georgia and I were discussing the easiest way to move things over from AutisticaCitizenScience to AutSPACEs, and here is a simple solution to avoid delaying the merge. In this issue I am ONLY proposing, leaving the decision making on the project team members.

### What needs to be done!

- Move all valid files in the https://github.com/alan-turing-institute/AutisticaCitizenScience repo

[2022-09-27 12:42] GeorgiaHCA commented on #232
Thanks Malvika! I think the reasoning makes sense and I like this solution, especially since we can transfer the issues and version history. Once we have everything in one place, it will be easier to restructure and improve.

[2022-10-06 13:00] GeorgiaHCA opened #234 "Write a chapter for the Turing Way"
## Summary

As an outcome for volunteering leave, James Scott will create a PR to add a chapter to the Turing Way sharing findings from AutSPACEs.

[2022-10-10 15:20] GeorgiaHCA opened #235 "Gather feedback on revised code of conduct and moderation process"
## Summary

@skfantoni and @JamesSCTJ have done amazing work on co-created moderation and a code of conduct for AutSPACEs. It would be great to arrange a follow up co-creation workshop to review the work.

## Date Due by

Let's try to arrange this for when the new PI Bastian is here but before the December break

## Details

* Arrange for funding to pay participants (co-facilitator and attendees)

[2022-10-10 15:25] GeorgiaHCA opened #233 "Get participatory researchers access to academic resources"
## Summary

In order to do academic work participatory researchers need to have journal access.

[2022-10-11 13:21] GeorgiaHCA commented on #232
Thanks @malvikasharan and @Islast - I'm going to start transferring issues to the AutSPACEs repository and making labels and project boards. Just need @BrainonSilicon to confirm and we can go ahead with the PR!

[2022-10-11 14:06] GeorgiaHCA commented on #232
Would it be helpful to start moving and classifying issues now? I don't want to disrupt things too much but I could make some progress on that in the meantime :)

[2022-10-12 11:25] #347 closed

[2022-10-12 11:30] #349 closed

[2022-10-12 11:32] GeorgiaHCA opened #355 "Transfer all issues from PM repo into AutSPACEs repo"

[2022-10-12 11:32] #355 closed

[2022-10-12 13:53] GeorgiaHCA commented on #236
This may be more useful somewhere in the repo than in an open issue

[2022-10-12 13:58] GeorgiaHCA commented on #230
Closing this issue as it is a duplicate created by transferring issues across repos

[2022-10-12 13:58] #230 closed

[2022-10-12 14:05] #226 closed

[2022-10-12 14:06] GeorgiaHCA commented on #224
It may be better ultimately to hold the code elsewhere but for now it should be easy to find

[2022-10-12 15:04] #178 closed, assigned to BrainonSilicon

[2022-10-12 15:07] GeorgiaHCA commented on #262
Is this issue ready to be closed @BrainonSilicon - is it documented in the repo? Thanks for all your wonderful work 🌟

[2022-10-12 15:15] #268 closed

[2022-10-12 15:16] GeorgiaHCA commented on #131
Great work @soledadli and @BrainonSilicon !

[2022-10-12 15:16] #131 closed

[2022-10-12 15:22] #111 closed

[2022-10-12 15:23] #276 closed

[2022-10-12 15:23] #107 closed

[2022-10-12 15:25] #280 closed

[2022-10-13 09:22] GeorgiaHCA commented on #282
Fabulous work on this everyone! Closing this issue now as we've now written the Code of conduct

[2022-10-13 09:22] #282 closed

[2022-10-13 09:26] GeorgiaHCA commented on #287
This issue has been duplicated due to the transfer of issues so closing this now

[2022-10-13 09:26] #287 closed

[2022-10-13 09:29] GeorgiaHCA commented on #291
Closing issue as no longer current

[2022-10-13 09:29] #291 closed

[2022-10-13 09:30] GeorgiaHCA commented on #89
Thanks for fixing this @jhlink ! Closing this issue now

[2022-10-13 09:33] GeorgiaHCA commented on #295
This would be a good thing to have in place before we kick-start the regular meet-up sessions again

[2022-10-13 09:35] GeorgiaHCA commented on #297
Closing this issue now as the fix has been merged and it is outdated following the repo merge. Thanks so much for your work @96RadhikaJadhav !! It's great to have your contributions

[2022-10-13 09:35] #297 closed

[2022-10-13 09:37] #81 closed

[2022-10-13 09:46] #311 closed

[2022-10-13 09:56] #354 closed

[2022-10-13 09:56] #335 closed

[2022-10-13 09:57] #324 closed

[2022-10-13 09:57] #322 closed

[2022-10-13 09:59] #328 closed

[2022-10-13 10:00] #342 closed

[2022-10-13 10:05] GeorgiaHCA commented on #336
Thank you for this Otis! Closing this issue now as this feature is now included in the platform

[2022-10-13 10:05] #336 closed

[2022-10-13 10:08] GeorgiaHCA commented on #346
This is part of the platform's MVP and should be integral

[2022-10-13 12:04] GeorgiaHCA commented on #233
There are lots of places/ways to access papers now:
[Unpaywall](https://unpaywall.org/)
[Paper panda](https://paperpanda.app/)
[open access button](https://openaccessbutton.org/)
[OA.mg](http://oa.mg/)
Thanks to @EKaroune for these suggestions!

[2022-10-13 12:08] GeorgiaHCA opened #356 "Add Contributors to Repository"
### Summary

We need to make sure all the contributors from the AutSPACEs repository are properly acknowledged in this one before we archive the original project management repository.

[2022-10-13 12:19] GeorgiaHCA opened #357 "Reassign or close outdated issues"
### Summary

We currently have a number of open issues assigned to previous contributors who are no longer working on AutSPACES. We need to reassign them, close them, or leave them open and make sure they are easy to understand and accessible to potential open source contributors

[2022-10-13 12:24] GeorgiaHCA commented on #300
This issue refers to a previous repository work. Closing this issue now

[2022-10-13 12:24] #300 closed

[2022-10-13 12:25] GeorgiaHCA opened #358 "Rewrite previous issues so they are up to date"
### Summary

@jiraslama and @katoss did lots of work together on design features and user testing/community recommendations which are currently preserved in old issues. These also include feedback from the AutSPACEs community. We should rewrite the issues to reference the current platform and workflow while making sure to credit/keep a record of their work.

[2022-10-13 12:32] GeorgiaHCA opened #359 "Repo Refresh and Merge: Task tracking"
## Summary

Make sure the repo is in really good condition for further engagement/community building with project. This issue tracks all the tasks we need to complete for the repo refresh.

## Date Due by

This is an ongoing process, but I'm going to aim to finish this iteration of tidying work by **1st November**

## Details

## Suggestions for tasks that can fix this issue

Tidying up

* [x] New

[2022-10-13 13:58] GeorgiaHCA commented on #256
A great suggestion from @arronlacey is to use a consort diagram to methodically search published papers

[2022-10-13 14:00] GeorgiaHCA commented on #256
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC539417/

[2022-10-13 14:01] GeorgiaHCA commented on #256
https://www.prisma-statement.org//

[2022-10-13 19:49] SuziQpid commented on #249
Hi just to say language needs to be a little clearer in 4 th bullet point  eg: ‘ Once you HAVE ( word missing) an experience to moderate, you have 24 hrs to review it before it’s returned to the repository’

I don’t think it’s the job of researchers to support moderators unless they want to straddle two roles.
l think it would be a good idea to have a moderators community Meetup bi or 3  monthly w

[2022-10-13 20:05] SuziQpid commented on #296
Dear All,

Although fixing the broken links 423 is now closed, ld just like to say the Git Hub app on an iPad is incredibly glitzy.

I can only access open issues whatever the No is properly through the Safari Browser. Haven’t tried it via Chrome or Firefox.

I don’t get a 404 labelled message on Git hub when l try through the app. I get a ‘something went wrong try again rectangle bordered box’

Y

[2022-10-13 20:11] SuziQpid commented on #257
Dear Georgia,

I’ve actually added something to lssue#249 ….better late than never.

Bit lost with how l test the site as it currently stands. Please advise. When do we think Meetups are starting again or will there only be one or two before the repository officially opens.

Best Wishes
Suzanne lwai

[2022-10-17 09:11] GeorgiaHCA commented on #257
Hi @SuziQpid thanks for your contributions - it's really helpful 😸 ! We have a development team working on the platform and I'll update you as soon as we have the design ready for testing. We'll probably restart regular meet-up sessions in November and do lots more testing before it's launched.